.loader { border-width: 16px; border-style: solid; border-color: rgb(52, 152, 219) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 120px; height: 120px; animation: 2s linear 0s infinite normal none running spin; position: fixed; top: 40%; left: 40%; }
@keyframes spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
