h1, h2, h3, h4, h5, h6 { }
a, a:hover, a:focus, a:active { text-decoration: none; outline: none; }
a, a:active, a:focus { color: rgb(111, 111, 111); text-decoration: none; transition-timing-function: ease-in-out; transition-duration: 0.2s; }
ul { margin: 0px; padding: 0px; list-style: none; }
img { max-width: 100%; height: auto; }
section { padding: 60px 0px; }
.sec-title { position: relative; z-index: 1; margin-bottom: 60px; }
.sec-title .title { position: relative; display: block; font-size: 18px; line-height: 24px; color: rgb(255, 34, 34); font-weight: 500; margin-bottom: 15px; }
.sec-title h2 { position: relative; display: block; font-size: 40px; line-height: 1.28em; color: rgb(34, 34, 34); font-weight: 600; padding-bottom: 18px; }
.sec-title h2::before { position: absolute; content: ""; left: 0px; bottom: 0px; width: 50px; height: 3px; background-color: rgb(209, 210, 214); }
.sec-title .text { position: relative; font-size: 16px; line-height: 26px; color: rgb(132, 132, 132); font-weight: 400; margin-top: 35px; }
.sec-title.light h2 { color: rgb(255, 255, 255); }
.sec-title.text-center h2::before { left: 50%; margin-left: -25px; }
.list-style-one { position: relative; }
.list-style-one li { position: relative; font-size: 16px; line-height: 26px; color: rgb(34, 34, 34); font-weight: 400; padding-left: 35px; margin-bottom: 12px; }
.list-style-one li::before { content: "ÔÅò"; position: absolute; left: 0px; top: 0px; display: block; font-size: 18px; padding: 0px; color: rgb(255, 34, 34); font-weight: 600; -webkit-font-smoothing: antialiased; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1.6; font-family: "Font Awesome 5 Free"; }
.list-style-one li a:hover { color: rgb(68, 188, 226); }
.btn-style-one { position: relative; display: inline-block; font-size: 17px; line-height: 30px; color: rgb(255, 255, 255); padding: 10px 30px; font-weight: 600; overflow: hidden; letter-spacing: 0.02em; background-color: rgb(255, 34, 34); }
.btn-style-one:hover { background-color: rgb(0, 30, 87); color: rgb(255, 255, 255); }
.about-section { position: relative; padding: 120px 0px 70px; }
.about-section .sec-title { margin-bottom: 45px; }
.about-section .content-column { position: relative; margin-bottom: 50px; }
.about-section .content-column .inner-column { position: relative; padding-left: 30px; }
.about-section .text { margin-bottom: 40px; font-size: 16px; line-height: 26px; color: rgb(132, 132, 132); font-weight: 400; }
.about-section .list-style-one { margin-bottom: 45px; }
.about-section .btn-box { position: relative; }
.about-section .btn-box a { padding: 15px 50px; }
.about-section .image-column { position: relative; }
.about-section .image-column .text-layer { position: absolute; right: -110px; top: 50%; font-size: 325px; line-height: 1em; color: rgb(255, 255, 255); margin-top: -175px; font-weight: 500; }
.about-section .image-column .inner-column { position: relative; padding-left: 120px; padding-bottom: 125px; }
.about-section .image-column .inner-column::before { position: absolute; left: -75px; top: 65px; height: 520px; width: 520px; background-image: url("https://i.ibb.co/fxJ1jtC/about-circle-1.png"); content: ""; }
.about-section .image-column .image-1 { position: relative; }
.about-section .image-column .image-2 { position: absolute; left: 0px; bottom: 0px; }
.about-section .image-column .image-2 img, .about-section .image-column .image-1 img { box-shadow: rgba(8, 13, 62, 0.15) 0px 30px 50px; }
.about-section .image-column .video-link { position: absolute; left: 70px; top: 170px; }
.about-section .image-column .video-link .link { position: relative; display: block; font-size: 22px; color: rgb(25, 30, 52); font-weight: 400; text-align: center; height: 100px; width: 100px; line-height: 100px; background-color: rgb(255, 255, 255); border-radius: 50%; box-shadow: rgba(8, 13, 62, 0.15) 0px 30px 50px; transition: 300ms; }
.about-section .image-column .video-link .link:hover { background-color: rgb(25, 30, 52); color: rgb(255, 255, 255); }
