/* your styles go here */

/* scaffolding */
.wishlistpage {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.42857143;
  color: #555555;
}

.wishlistpage .product {
  background: #fff;
  /* border-bottom: solid 1px #e6e6e6; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 60px;
  overflow: hidden;
  text-align: center;
  display:block;
}
.wishlistpage .product .image {
  overflow: hidden;
}
.wishlistpage .product .image img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media (min-width: 767px) {
 img.img-responsive.image1 {
   height: 200px;
   margin: auto;
}
}

@media (max-width: 767px) {
  .product .image img.img-responsive {
    min-width: 100%;
  }
}
.product .text {
  padding: 10px;
}
.product .text h3 {
  font-size: 14px;
  /* font-weight: 700;*/
  height: 39.6px;
  text-transform: none;
  letter-spacing: 0.08em;
}
.product .text h3 a {
  color: #555555;
}
.product .text h3 a:hover {
  text-decoration: none;
}
/*
.product .text p.price {
  font-size: 18px;
}
*/
.wishlistpage p.price {
    display: block;
}
.product .text p.price del {
  color: #999999;
}
.product .buttons {
  clear: both;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: solid 1px transparent;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-align: center;
}
.product .buttons .btn {
  margin-bottom: 20px;
}
.product:hover {
  /* border-bottom: solid 1px #808080; */
  top: 0;
}
.product:hover .buttons {
  clear: both;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
}
.product:hover .image img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}



/* buttons  */
.wishlistpage .btn,.modal .btn {
  font-weight: normal;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
}
.btn-primary {
  color: #ffffff;
  background-color: #4fbfa8;
  border-color: #41b39c;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3da892;
  border-color: #318675;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #4fbfa8;
  border-color: #41b39c;
}
.btn-primary .badge {
  color: #4fbfa8;
  background-color: #ffffff;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 4px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}



#heading-breadcrumbs {
  padding: 20px 0;
  /* margin-bottom: 40px; */
}



p.lead {
  margin-bottom: 40px;
}

.lead {
  margin-bottom: 20px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}




.wishlistpage a i.fa, button i.fa {
    margin: 0 5px;
}

.products .buttons {
    padding-bottom: 0;
}

.product .text {   
    padding-bottom: 0;
}

.modal {
  text-align: center;
  padding: 0!important;
  background-color: transparent;
}
/*
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
*/
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

h3.product_title {
    margin-bottom: 0;
    letter-spacing: initial !important;
}



.modal-body .row {
    width: 100% !important;
}

.modal.fade {
    background-color: transparent !important;
}

#remove_modal .row {margin:0}
#wishlist_share_modal .modal-body {
    text-align: center;
}

@media (max-width:500px){
h1.titletext {
    text-align: center;
}
}

.smartwishlist {
    opacity: 1;
}
#wishlist_url {
    text-transform: none !important;
}
.loginmessage {
    margin-top: 1%;
}


a#messageus_button .topbadge {
    display: none !important;
}

#remove_all_modal .modal-footer, #remove_all_modal .modal-header     {
    border: none !important;
}

#remove_all_modal .modal-body {
    display: none !important;
}

div#remove_modal_title {
    text-align: center;
}

div#remove_modal_image img {
    max-width: 100%;
}

.modal-header,.modal-body,.modal-footer {
    display: block;
}
.wishlistpage .row, .modal .row {
    display: block;
}
.modal button {
    width: initial !important;
    height: initial !important;
}

.modal {
    visibility: initial !important;
}

#all .container {
    display: block !important;
}
.wishlistpage a {
    text-decoration: none;
}

.modal {max-width: initial;}

a.btn {
    height: initial;
}

img.sw_preloader {
    display: inline-block;
}
