/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v24/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oLlVnmhjsw.ttf) format('truetype');
}
