:root{
	--wd-top-bar-h: 42px;
	--wd-top-bar-sm-h: 40px;
	--wd-top-bar-sticky-h: .00001px;
	--wd-top-bar-brd-w: .00001px;

	--wd-header-general-h: 70px;
	--wd-header-general-sm-h: 60px;
	--wd-header-general-sticky-h: .00001px;
	--wd-header-general-brd-w: 1px;

	--wd-header-bottom-h: 44px;
	--wd-header-bottom-sm-h: 50px;
	--wd-header-bottom-sticky-h: 50px;
	--wd-header-bottom-brd-w: .00001px;

	--wd-header-clone-h: .00001px;

	--wd-header-brd-w: calc(var(--wd-top-bar-brd-w) + var(--wd-header-general-brd-w) + var(--wd-header-bottom-brd-w));
	--wd-header-h: calc(var(--wd-top-bar-h) + var(--wd-header-general-h) + var(--wd-header-bottom-h) + var(--wd-header-brd-w));
	--wd-header-sticky-h: calc(var(--wd-top-bar-sticky-h) + var(--wd-header-general-sticky-h) + var(--wd-header-bottom-sticky-h) + var(--wd-header-clone-h) + var(--wd-header-brd-w));
	--wd-header-sm-h: calc(var(--wd-top-bar-sm-h) + var(--wd-header-general-sm-h) + var(--wd-header-bottom-sm-h) + var(--wd-header-brd-w));
}

.whb-top-bar .wd-dropdown {
	margin-top: 0px;
}

.whb-top-bar .wd-dropdown:after {
	height: 11px;
}




:root:has(.whb-general-header.whb-border-boxed) {
	--wd-header-general-brd-w: .00001px;
}

@media (max-width: 1024px) {
:root:has(.whb-general-header.whb-hidden-mobile) {
	--wd-header-general-brd-w: .00001px;
}
}


.whb-header-bottom .wd-dropdown {
	margin-top: 1px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 12px;
}

.whb-sticked .whb-header-bottom .wd-dropdown:not(.sub-sub-menu) {
	margin-top: 4px;
}

.whb-sticked .whb-header-bottom .wd-dropdown:not(.sub-sub-menu):after {
	height: 15px;
}


		
.whb-top-bar {
	background-color: rgba(1, 85, 96, 1);
}

.whb-duljtjrl87kj7pmuut6b {
	max-width: 1000px;
}
.whb-duljtjrl87kj7pmuut6b form.searchform {
	--wd-form-height: 46px;
}
.whb-duljtjrl87kj7pmuut6b.wd-search-form.wd-header-search-form .searchform {
	--wd-form-placeholder-color: rgba(173, 181, 189, 1);
	--wd-form-brd-color: rgba(173, 181, 189, 1);
	--wd-form-brd-color-focus: rgba(173, 181, 189, 1);
}
.whb-lnqqgvw709d4ru00qcy6.info-box-wrapper div.wd-info-box {
	--ib-icon-sp: 10px;
}
.whb-row .whb-wn5z894j1g5n0yp3eeuz.wd-tools-element .wd-tools-inner, .whb-row .whb-wn5z894j1g5n0yp3eeuz.wd-tools-element > a > .wd-tools-icon {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(1, 106, 120, 1);
}
.wd-nav-mobile .wd-nav-img {
	--nav-img-width: 15px;
	--nav-img-height: 15px;
}
.whb-general-header {
	border-color: rgba(173, 181, 189, 0.8);border-bottom-width: 1px;border-bottom-style: solid;
}

.whb-54p6g0fonhn7oqbnaq9t {
	--wd-form-brd-radius: 5px;
	max-width: 1000px;
}
.whb-54p6g0fonhn7oqbnaq9t form.searchform {
	--wd-form-height: 42px;
}
.whb-54p6g0fonhn7oqbnaq9t.wd-search-form.wd-header-search-form-mobile .searchform {
	--wd-form-color: rgba(33, 37, 41, 1);
	--wd-form-brd-color: rgba(0, 0, 0, 0.18);
}