/*
Theme Name: OceanWP Child Theme
Theme URI: https://oceanwp.org/
Description: OceanWP WordPress theme. Sample child theme.
Author: OceanWP
Author URI: https://oceanwp.org/
Template: oceanwp
Version: 1.0
*/

/* Parent stylesheet should be loaded from functions.php not using @import */

a:hover, a:focus
{
	outline:none !important;
}
.box2
{
	transition: all .4s ease !important;
}
.box2:hover
{
	transform: translateY(-15px);
}
.anim .elementor-widget-container
{
	    -webkit-animation: move-up-down 4s ease-in-out 3s infinite;
    animation: move-up-down 4s ease-in-out 3s infinite;
}
@keyframes move-up-down
{
	0% {
    -webkit-transform: translateX(0) translateY(5px);
    transform: translateX(0) translateY(5px);
}
	50% {
    -webkit-transform: translateX(0) translateY(-25px);
    transform: translateX(0) translateY(-25px);
}
	100% {
    -webkit-transform: translateX(0) translateY(5px);
    transform: translateX(0) translateY(5px);
}
}
.elementor-2 .elementor-element.elementor-element-85a214d .ekit_wpForms_container .wpforms-submit-container .wpforms-submit {
  font-size: 14px;
  background-color: #FFFFFF;
  color: var( --e-global-color-5f366e0 );
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 0px 0px 0px 0px;
  padding: 20px 15px 35px 15px !important;
}
.elementor-2515 .elementor-element.elementor-element-46cb5e7 .ekit_wpForms_container .wpforms-submit-container .wpforms-submit {
    font-size: 14px;
    background-color: #FFFFFF;
    color: var(--e-global-color-5f366e0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    padding: 20px 15px 33px 15px !important;
}
.elementor-1582 .elementor-element.elementor-element-c45536a .ekit_wpForms_container .wpforms-submit-container .wpforms-submit {
    font-size: 14px;
    background-color: #FFFFFF;
    color: var(--e-global-color-5f366e0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    padding: 20px 15px 33px 15px !important;
}
.ti-widget.ti-goog .ti-rating-text strong:not(.ti-rating-large) {
  font-size: 18px !important;
  color: #000 !important;
}
.ti-widget.ti-goog .ti-footer span, .ti-widget.ti-goog .ti-footer strong a { 
  color: #000 !important;
}
.ti-widget.ti-goog .ti-rating-text strong.ti-rating {
  font-size: 26px !important;
  display: block;
  margin-bottom: 6px;
  color: #000 !important;
}
.ti-widget.ti-goog .ti-rating-text, .ti-widget.ti-goog .ti-rating-text strong:not(.ti-rating-large), .ti-widget.ti-goog .ti-rating-text strong a, .ti-widget.ti-goog .ti-rating-text strong span, .ti-widget.ti-goog .ti-rating-text span strong, .ti-widget.ti-goog .ti-rating-text span, .ti-widget.ti-goog .ti-footer, .ti-widget.ti-goog .ti-footer strong:not(.ti-rating-large), .ti-widget.ti-goog .ti-footer span, .ti-widget.ti-goog .ti-footer strong a {
  font-size: 14px;
  color: #000000 !important;
}
.ekit-wid-con .ekit-sidebar-group .ekit-overlay {
  left: 100%;
  top: 0;
  position: fixed;
  z-index: 1002;
  height: 100%;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  -webkit-transition: all .4s ease-in var(--transition-duration);
  transition: all .4s ease-in var(--transition-duration);
  cursor: url(../img/cross-out.svg),pointer;
  background-color: rgba(0,0,0,0) !important;
}
.wp-block-firebox-button.block-3f9812-f31e-4c .firebox-block-button-element {
  color: #fff;
  font-size: 18px !important;
}
#scroll-top {
    display: none;
    opacity: 0;
    position: fixed;
    left: 20px !important;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    z-index: 100;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.wp-gr:not(.wp-dark) .grw-review-inner.grw-backgnd {
    background: #fff !important;
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.24) !important;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s !important;
	border-radius: 8px 8px 8px 8px !important;
}

