.toolbox label { display: block !important; }
.page-item.disabled { display: block; }
.cart-table-container .product-image img { max-width: 100%; }
.product-image img { border: 1px solid rgb(221, 221, 221); }
.product-label.label-sale { background-color: rgb(226, 124, 124); }
.product-label { display: block; text-align: center; margin-bottom: 5px; text-transform: uppercase; padding: 5px 11px; color: rgb(255, 255, 255); font-weight: 600; font-size: 10px; line-height: 1; float: right; }
.label-group { top: 0.8rem; left: 0.8rem; }
.product-label.label-hot { background-color: rgb(98, 185, 89); }
.btn { padding: 12px 28px; background: rgb(29, 2, 2); border-radius: 30px; cursor: pointer; font-weight: 600; }
.bag-drop::after { content: ""; border: 0px; margin: 0px; font-size: 15px; font-family: porto; width: auto; height: auto; }
.user-drop::after { border: 0px; margin: 0px; font-size: 15px; font-family: porto; width: auto; height: auto; }
.header-search { margin-right: 10px; }
.header-icon { margin-right: 10px; }
