/* HomePrivilez Starting */
body.pop__mavinclub-fashion .pop-star #pop-club-quick-buy3 span,
body.pop__nuacai-58 .pop-star #pop-club-quick-buy3 span,
body.pop__g3gbzi-7j .pop-star #pop-club-quick-buy3 span,
body.pop__e1kbc2-is .pop-star #pop-club-quick-buy3 span,
body.pop__d8kpsd-i1 .pop-star #pop-club-quick-buy3 span,
body.pop__ittvk2-1r .pop-star #pop-club-quick-buy3 span,
body.pop__b0b706-2 .pop-star #pop-club-quick-buy3 span,
body.pop__n0i6cg-yi .pop-star #pop-club-quick-buy3 span,
body.pop__93c554-2 .pop-star #pop-club-quick-buy3 span,
body.pop__homeprivilez-india .pop-star #pop-club-quick-buy3 span,
body.pop__riichera .pop-star #pop-club-quick-buy3 span,
body.pop__desi-glam-studio .pop-star #pop-club-quick-buy3 span,
body.pop__dailylifestyle-2200 .pop-star #pop-club-quick-buy3 span,
body.pop__1a69a1 .pop-star #pop-club-quick-buy3 span,
body.pop__siqqyh-q6 .pop-star #pop-club-quick-buy3 span,
body.pop__starboyfragrence .pop-star #pop-club-quick-buy3 span,
body.pop__riwaazcouture .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-heading-family);
}

body.pop__stepevoli .pop-star #pop-club-quick-buy3 span,
body.pop__baise-gaba-official .pop-star #pop-club-quick-buy3 span,
body.pop__ef91ce-ab .pop-star #pop-club-quick-buy3 span {
    font-family: var(--main-family);
}

body.pop__pawfact-in .pop-star #pop-club-quick-buy3 span {
    font-family: 'GilroyRegular', sans-serif !important;
}

body.pop__haus-kinder .pop-star #pop-club-quick-buy3 span {
    font-family: 'Manrope', sans-serif !important;
}

body.pop__f83d66-18 .pop-star #pop-club-quick-buy3 span {
    font-family: "Century Gothic";
}

body.pop__pink-energy-shop .pop-star #pop-club-quick-buy3 span {
    font-family: var(--g-font-2);
}

body.pop__1a1029-2b .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font--nav--family);
}

body.pop__vastravogue .pop-star #pop-club-quick-buy3 span {
    font-family: var(--base-family);
}

body.pop__colors-ofearth .pop-star #pop-club-quick-buy3 span,
body.pop__655d56-2 .pop-star #pop-club-quick-buy3 span {
    font-family: var(--text-font-family);
}

body.pop__zfcp7x-gq .pop-star #pop-club-quick-buy3 span {
    font-family: var(--body-font-family);
}

body.pop__7fab03-4 .pop-star #pop-club-quick-buy3 span,
body.pop__liquidivin .pop-star #pop-club-quick-buy3 span,
body.pop__nonucare .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-heading-family);
}

body.pop__healthymasterin .pop-star #pop-club-quick-buy3 span {
    font-family: var(--g-font-2);
    ;
}

body.pop__suspire-in .pop-star #pop-club-quick-buy3 span img {
    max-width: 20px;
    max-height: 20px;
}

body.pop__suspire-in button#pop-club-quick-buy3 {
    height: 28px;
}

body.pop__suspire-in .pop-star #pop-club-quick-buy3 span {
    font-size: 13px;
}

body.pop__f2cc6b-4.pop__product #POPStar.pop-rewards-btn button#pop-club-quick-buy3 {
    display: none !important;
}

body.pop__f2cc6b-4 #POPStar.pop-rewards-btn .pop-star1 {
    bottom: 16px;
}

body.pop__f2cc6b-4 #POPStar.pop-rewards-btn button#pop-club-quick-buy3,
body.pop__f2cc6b-4 #POPStar.pop-rewards-btn button#pop-club-quick-buy3>img {
    width: 60px !important;
    height: 60px !important;
    padding: 0 !important;
}

body.pop__liquidivin #POPStar.pop-rewards-btn button#pop-club-quick-buy3,
body.pop__liquidivin #POPStar.pop-rewards-btn button#pop-club-quick-buy3>img {
    width: 60px !important;
    height: 60px !important;
    padding: 0 !important;
}

body.pop__ff4e12-be .pop-star #pop-club-quick-buy3 span,
body.pop__kidbeastore .pop-star #pop-club-quick-buy3 span,
body.pop__301cbc-58 .pop-star #pop-club-quick-buy3 span {
    font-family: Poppins, sans-serif;
}

body.pop__c978a9 .pop-star #pop-club-quick-buy3 span,
body.pop__uff-perfumes .pop-star #pop-club-quick-buy3 span,
body.pop__bd08f1-2 .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-stack-body);
}

body.pop__kadamcolors .pop-star #pop-club-quick-buy3 span,
body.pop__suspire-in .pop-star #pop-club-quick-buy3 span,
body.pop__pepperly-india .pop-star #pop-club-quick-buy3 span,
body.pop__ed1856-4 .pop-star #pop-club-quick-buy3 span {
    font-family: var(--typeBasePrimary), var(--typeBaseFallback);
}

body.pop__amwoodo-live .pop-star #pop-club-quick-buy3 span {
    font-family: ATCArquette;
}

body.pop__e35489-3 .pop-star #pop-club-quick-buy3 span {
    font-family: Inter, sans-serif;
}

body.pop__uncomplicated-clothing .pop-star #pop-club-quick-buy3 span {
    font-family: DM Sans, sans-serif;
}

body.pop__faimly-farm .pop-star #pop-club-quick-buy3 span,
body.pop__y0vsa1-mh .pop-star #pop-club-quick-buy3 span,
body.pop__88657a-f5 .pop-star #pop-club-quick-buy3 span,
body.pop__ayush-care .pop-star #pop-club-quick-buy3 span,
body.pop__panchamrit-ghee .pop-star #pop-club-quick-buy3 span,
body.pop__270314-5a .pop-star #pop-club-quick-buy3 span,
body.pop__ffd31d-3 .pop-star #pop-club-quick-buy3 span,
body.pop__rawlsessentials .pop-star #pop-club-quick-buy3 span,
body.pop__73f9bf-f9 .pop-star #pop-club-quick-buy3 span,
body.pop__indus-valley2 .pop-star #pop-club-quick-buy3 span,
body.pop__ozzaro2021 .pop-star #pop-club-quick-buy3 span,
body.pop__rideadventure .pop-star #pop-club-quick-buy3 span,
body.pop__1cf85b-41 .pop-star #pop-club-quick-buy3 span,
body.pop__804a3f .pop-star #pop-club-quick-buy3 span,
body.pop__0ec320-gj .pop-star #pop-club-quick-buy3 span,
body.pop__bjwhdj-uf .pop-star #pop-club-quick-buy3 span,
body.pop__aaab62-3 .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-body-family);
}

body.pop__pollie1 .pop-star #pop-club-quick-buy3 span,
body.pop__y563a7-vv .pop-star #pop-club-quick-buy3 span {
    font-family: var(--heading-font-family);
}

body.pop__f20d17-a5 .pop-star #pop-club-quick-buy3 span,
body.pop__neurogum-india .pop-star #pop-club-quick-buy3 span {
    font-family: var(--main-font-stack);
}

body.pop__b3590d-4 .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-stack-body-primary);
}

body.pop__erobold-store .pop-star #pop-club-quick-buy3 span {
    font-family: "Archivo Narrow", sans-serif;
}

body.pop__49ef49-3 .pop-star #pop-club-quick-buy3 span {
    font-family: Arial, sans-serif;
}

body.pop__804ba3-62 .pop-star #pop-club-quick-buy3 span {
    font-family: GeneralSanssr;
}

body.pop__nasher-miles .pop-star #pop-club-quick-buy3 span {
    font-family: var(--FONT-STACK-SUBHEADING);
}

body.pop__euvmvb-eg .pop-star #pop-club-quick-buy3 span {
    font-family: var(--body-font);
}

body.pop__foreverkidz1 .pop-star #pop-club-quick-buy3 span {
    font-family: var(--FONT-STACK-BODY)
}

body.pop__2iwxxk-r3 .pop-star #pop-club-quick-buy3 span {
    font-family: sofia-pro, sans-serif;
}

body.pop__15ac09-95 .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-body);
}

body.pop__tiltundies .pop-star #pop-club-quick-buy3 span {
    font-family: "Raleway" !important
}

body.pop__158818-2 .pop-club-listing p,
body.pop__freecultr-com .pop-club-listing p,
body.pop__tj8a10-08 .pop-club-listing p,
body.pop__tiltundies .pop-club-listing p,
body.pop__faimly-farm .pop-club-listing p,
body.pop__y0vsa1-mh .pop-club-listing p,
body.pop__homeecstasy .pop-club-listing p,
body.pop__2xnutrition1 .pop-club-listing p,
body.pop__0c27f1-30 .pop-club-listing p,
body.pop__h0gck0-wv .pop-club-listing p,
body.pop__88657a-f5 .pop-club-listing p,
body.pop__liquidivin .pop-club-listing p,
body.pop__skinvest-skincare .pop-club-listing p,
body.pop__ayush-care .pop-club-listing p,
body.pop__zavya-fashion .pop-club-listing p,
body.pop__b0b706-2 .pop-club-listing p,
body.pop__15ac09-95 .pop-club-listing p,
body.pop__kadamcolors .pop-club-listing p,
body.pop__nuacai-58 .pop-club-listing p,
body.pop__gavyamart-store .pop-club-listing p,
body.pop__typsy-beauty .pop-club-listing p,
body.pop__2iwxxk-r3 .pop-club-listing p,
body.pop__g3gbzi-7j .pop-club-listing p,
body.pop__270314-5a .pop-club-listing p,
body.pop__m9hezx-3c .pop-club-listing p,
body.pop__euvmvb-eg .pop-club-listing p,
body.pop__19caba-09 .pop-club-listing p,
body.pop__nasher-miles .pop-club-listing p,
body.pop__haus-kinder .pop-club-listing p,
body.pop__colors-ofearth .pop-club-listing p,
body.pop__e1kbc2-is .pop-club-listing p,
body.pop__804ba3-62 .pop-club-listing p,
body.pop__49ef49-3 .pop-club-listing p,
body.pop__wiselife-in .pop-club-listing p,
body.pop__a59ebc-aa .pop-club-listing p,
body.pop__n0i6cg-yi .pop-club-listing p,
body.pop__b3590d-4 .pop-club-listing p,
body.pop__alive-and-kicking-store .pop-club-listing p,
body.pop__ffd31d-3 .pop-club-listing p,
body.pop__erobold-store .pop-club-listing p,
body.pop__jcpdwh-z1 .pop-club-listing p,
body.pop__0ec320-gj .pop-club-listing p,
body.pop__f23b90-4c .pop-club-listing p,
body.pop__alamper .pop-club-listing p,
body.pop__1cf85b-41 .pop-club-listing p,
body.pop__siqqyh-q6 .pop-club-listing p,
body.pop__d738f5 .pop-club-listing p,
body.pop__bd08f1-2 .pop-club-listing p,
body.pop__1a69a1 .pop-club-listing p,
body.pop__dailylifestyle-2200 .pop-club-listing p,
body.pop__pepperly-india .pop-club-listing p,
body.pop__vastravogue .pop-club-listing p,
body.pop__riichera .pop-club-listing p,
body.pop__greenspecialities .pop-club-listing p,
body.pop__301cbc-58 .pop-club-listing p,
body.pop__bjwhdj-uf .pop-club-listing p,
body.pop__amwoodo-live .pop-club-listing p,
body.pop__655d56-2 .pop-club-listing p,
body.pop__zfcp7x-gq .pop-club-listing p,
body.pop__utpaladesigns .pop-club-listing p,
body.pop__hebbevu-fresh-bangalore .pop-club-listing p,
body.pop__mg2c17-rr .pop-club-listing p,
body.pop__072ddc-37 .pop-club-listing p,
body.pop__wellversed-health .pop-club-listing p,
body.pop__svarasya-com .pop-club-listing p,
body.pop__n2nt70-r0 .pop-club-listing p,
body.pop__5b2ed4-9c .pop-club-listing p,
body.pop__blue-buddha-retail .pop-club-listing p,
body.pop__ishqme .pop-club-listing p,
body.pop__aloeandme .pop-club-listing p,
body.pop__cd4c68-2 .pop-club-listing p,
body.pop__7242ff-2 .pop-club-listing p,
body.pop__73549d .pop-club-listing p,
body.pop__b279da-2 .pop-club-listing p,
body.pop__suspire-in .pop-club-listing p,
body.pop__pee-safe .pop-club-listing p,
body.pop__vinod-stainless-steel .pop-club-listing p,
body.pop__giftingstudio-in .pop-club-listing p,
body.pop__f2cc6b-4 .pop-club-listing p,
body.pop__cd4c68-2 .pop-club-listing p,
body.pop__c41b27-a0 .pop-club-listing p,
body.pop__instaeats-in .pop-club-listing p,
body.pop__intervowe .pop-club-listing p,
body.pop__ad15e3 .pop-club-listing p,
body.pop__the-man-company .pop-club-listing p,
body.pop__pawfact-in .pop-club-listing p,
body.pop__starboyfragrence .pop-club-listing p,
body.pop__nonucare .pop-club-listing p {
    justify-content: start;
}

body.pop__h0gck0-wv .pop-star #pop-club-quick-buy3 span,
body.pop__6af98f-2 .pop-star #pop-club-quick-buy3 span,
body.pop__spritzybytypsy .pop-star #pop-club-quick-buy3 span,
body.pop__anayna-india .pop-star #pop-club-quick-buy3 span,
body.pop__greenspecialities .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-heading-family);
}

body.pop__typsy-beauty .pop-star #pop-club-quick-buy3 span,
body.pop__broke-memers .pop-star #pop-club-quick-buy3 span {
    font-family: Poppins, sans-serif;
}

body.pop__gavyamart-store .pop-star #pop-club-quick-buy3 span,
body.pop__utpaladesigns .pop-star #pop-club-quick-buy3 span {
    font-family: Futura, sans-serif;
}

body.pop__mountainor .pop-star #pop-club-quick-buy3 span,
body.pop__f2cc6b-4 .pop-star #pop-club-quick-buy3 span {
    font-family: 'helvetica' !important;
}

body.pop__prsuroski .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-heading-family);
}

body.pop__trident-india-store .pop-star #pop-club-quick-buy3 span {
    font-family: ibmRegular, sans-serif;
}

body.pop__rossettecoffee-com .pop-star #pop-club-quick-buy3 span {
    font-family: 'Playfair Display', serif;
}

body.pop__rossettecoffee-com .pdp_popcoin.not-logged-in #buy-with-pop-coins-label span {
    font-family: 'Playfair Display', serif;
}

body.pop__sindhi-dry-fruits-3951 .pop_cart_drawer_container {
    max-width: fit-content;
    margin: auto;
    padding: 5px;
}

body.pop__prsuroski .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-heading-family);
}

body.pop__rideadventure .pop-star1 .popclub-modal .popclub-modal-content iframe {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
}

body.pop__uomo-co-in .pop_cart_page_msg {
    color: #000;
}

body.pop__rideadventure label#buy-with-pop-coins-label,
body.pop__rideadventure label#buy-with-pop-coins-label span,
body.pop__rideadventure .pop_cart_drawer_container,
body.pop__rideadventure .pop_cart_page_container {
    color: #fff;
}

body.pop__rideadventure .pop_cart_drawer_container,
body.pop__rideadventure .pop_cart_page_container {
    border: 1px solid #fff;
}

body.pop__rossettecoffee-com .pop_cart_drawer_container {
    background: #fff;
}

/* body.pop__rideadventure .pop-disc-loader {
    border: 1px solid #fff;
} */

body.pop__loveofindia .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-heading-family);
}

body.pop__freecultr-com .pop-star #pop-club-quick-buy3 span,
body.pop__ripped-up-nutritio .pop-star #pop-club-quick-buy3 span {
    font-family: var(--text-font-family);
}

body.pop__b279da-2 .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-heading-family);
}

body.pop__olrice-webzplot .pop-star #pop-club-quick-buy3 span {
    font-family: "Nunito Sans";
}

body.pop__49e568-2 .pop-star #pop-club-quick-buy3 span {
    font-family: var(--g-font-2);
}

body.pop__49e568-2 .site-footer__copyright {
    padding-bottom: 3.8rem;
}

body.pop__hebbevu-fresh-bangalore.hidden button#pop-club-quick-buy3,
[js-recently-view-slider] .pop-club-listing {
    display: none !important;
}

body.pop__hebbevu-fresh-bangalore .pop_cart_page_container {
    max-width: 400px;
    margin-left: auto;
}

/* HomePrivilez Ending */

/* Kachi Ghani Starting */

body.pop__mg2c17-rr.hidden button#pop-club-quick-buy3 {
    display: none !important;
}

body.pop__mg2c17-rr.modal-open button#pop-club-quick-buy3 {
    display: none !important;
}

body.pop__mg2c17-rr.template-index .footer-bottom-area ul.ft-bottom {
    padding-bottom: 2rem !important;
}

body.pop__mg2c17-rr.template-collection .footer-bottom-area ul.ft-bottom {
    padding-bottom: 2rem !important;
}

body.pop__mg2c17-rr.template-search .footer-bottom-area ul.ft-bottom {
    padding-bottom: 2rem !important;
}

body.pop__mg2c17-rr button#pop-club-quick-buy3 {
    height: 44px;
}

body.pop__mg2c17-rr.template-cart label#buy-with-pop-coins-label span {
    font-size: 10.5px;
}

body.pop__mg2c17-rr .pop-star #pop-club-quick-buy3 span {
    font-family: 'Poppins', sans-serif;
}

body.pop__clove-oral-care .pop-star #pop-club-quick-buy3 span {
    font-family: var(--body-font-stack);
}

/* Kachi Ghani Ending */

/* Luxzii Starting */
body.pop__072ddc-37 .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-heading-family);
}

body.pop__9a43dd-8b .main-product__block-price .pop-club-listing {
    display: none;
}

.proList.list .pop-club-listing p {
    justify-content: start;
}

body.pop__9a43dd-8b .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-stack-body);
}

body.pop__sindhi-dry-fruits-3951 .pdp_popcoin #buy-with-pop-coins-label span {
    display: ruby;
}

body.pop__wellversed-health .pop-star {
    z-index: 999;
}

body.pop__wellversed-health .pop_cart_drawer_container {
    margin-left: auto;
    max-width: 400px;
    padding: 5px;
}

@media only screen and (max-width: 749px) {
    body.pop__072ddc-37 .pop_club_cart.not-logged-in label#buy-with-pop-coins-label span {
        font-size: 11px;
    }

    body.pop__sindhi-dry-fruits-3951 .pop-star1,
    body.pop__1cf85b-41 .pop-star1 {
        bottom: 6rem;
    }

    body.pop__n2nt70-r0 .pop-club-listing p {
        font-size: 13px;
    }

    body.pop__9a43dd-8b .pop-star1 {
        bottom: 3.8rem;
    }

    body.pop__rideadventure .pop-star1 {
        bottom: 7rem;
    }

    body.pop__rideadventure .pop-club-listing p span {
        font-size: 10px !important;
    }

}

/* Luxzii Ending */

/* A2GStyle Starting */

body.pop__a2glifestyle .pop_cart_page_container {
    margin-left: auto;
    padding: 5px;
    max-width: fit-content;
}

/* A2GStyle Ending */

body.pop__n2nt70-r0 .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-heading-family);
}

/* Baaniz Starting */

body.pop__5b2ed4-9c .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-heading-family)
}

/* Blue Buddha Starting */
body.pop__iluvia-professional .pop-star #pop-club-quick-buy3 span,
body.pop__blue-buddha-retail .pop-star #pop-club-quick-buy3 span {
    font-family: Montserrat, sans-serif;
}

body.pop__blue-buddha-retail .cart_earn-update img {
    max-width: 24px !important;
}

body.pop__blue-buddha-retail .pdp_popcoin #buy-with-pop-coins-label span {
    font-size: 12px !important;
}

body.pop__blue-buddha-retail.modal-active button#pop-club-quick-buy3 {
    display: none !important;
}

body.pop__ishqme .pop-star #pop-club-quick-buy3 span {
    font-family: Akrobat SemiBold, sans-serifs;
}

body.pop__bluelloce .pop-star #pop-club-quick-buy3 span {
    font-family: var(--heading-font-family)
}

body.pop__bluelloce .pop-club-listing p {
    font-size: 9px;
}

body.pop__aloeandme .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-heading-family);
}

body.pop__cd4c68-2 .pop-star #pop-club-quick-buy3 span {
    font-family: 'Pally-Regular';
}

body.template-index.pop__cd4c68-2 .footer__column--info {
    padding-bottom: 4rem;
}

body.template-collection.pop__cd4c68-2 .footer__column--info {
    padding-bottom: 4rem;
}

body.template-search.pop__cd4c68-2 .footer__column--info {
    padding-bottom: 4rem;
}

body.pop__cd4c68-2 .product_info-container .pop-club-listing {
    display: none;
}

body.pop__cd4c68-2 #predictive-search-results .pop-club-listing {
    display: none;
}

body.pop__world-indiehaat .productList .rwcols-2 .pop-club-listing p {
    justify-content: center;
}

body.pop__athflex-clothing .pop_cart_page_container {
    margin-top: 2rem;
}

body.pop__detech-devices :where(.pop_club_cart, .pop_cart_drawer_container, .pop_cart_drawer_container .cart_earn-update) {
    color: #fff;
}

body.pop__detech-devices .pop_cart_drawer_container {
    border: 1px solid#fff;
}

body.pop__detech-devices .pop-star #pop-club-quick-buy3 span {
    font-family: Helvetica, Helvetica Neue, Arial, Lucida Grande, sans-serif;
}

body.pop__m9hezx-3c .pop-star #pop-club-quick-buy3 span,
body.pop__scentira .pop-star #pop-club-quick-buy3 span {
    font-family: Arial;
}

body.pop__intervowe .pop-star #pop-club-quick-buy3 span {
    font-family: Chivo, sans-serif;
}

body.pop__hebbevu-fresh-bangalore .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-stack-body);
}

body.pop__myfrido .pop-star #pop-club-quick-buy3 span {
    font-family: 'Outfit';
}

.cart_earn-update img {
    max-width: 25px !important;
}

body.pop__myfrido #shopify-section-footer .frido-payment-methods {
    padding-bottom: 2.5rem;
}

body.pop__myfrido .cart_earn-update {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

body.pop__myfrido .pop_cart_msg {
    font-size: 14px;
}

body.pop__pee-safe .pop-star #pop-club-quick-buy3 span {
    font-family: "Work Sans", sans-serif;
}

body.pop__pee-safe .widgets-by-corner.corner-widget #corner-cowi-open-wrapper .pop-disc-loader {
    border-radius: 50% !important;
}

body.pop__beastlife-dev .sidecart {
    overflow-x: scroll;
}

body.pop__wellversed-health .cart_earn-update {
    font-size: 10px;
}

body.pop__wellversed-health .cart_earn-update img {
    max-width: 16px;
}

body.pop__wellversed-health .pop_cart_msg {
    font-size: 9px;
}

@media only screen and (max-width: 749px) {

    body.pop__pee-safe .facets__floating-filter {
        bottom: 3rem;
    }

    body.pop__myfrido .pop_cart_msg {
        font-size: 10px;
    }

    body.pop__detech-devices .pop_cart_drawer_container .pop_cart_msg {
        padding: 0 10px;
        text-align: center;
    }

    body.pop__27089e button#pop-club-quick-buy3 {
        display: none !important;
    }

    body.pop__hebbevu-fresh-bangalore .pop-club-listing p {
        justify-content: center;
    }

    body.pop__bluelloce .pop-club-listing p {
        font-size: 9px;
    }

    body.pop__aloeandme .pop_club_cart .pop-disc span {
        font-size: 11px;
    }

    body.pop__aloeandme .pop_club_cart:not(.not-logged-in) label#buy-with-pop-coins-label {
        font-size: 11px;
    }

    /* body.pop__athflex-clothing .pop-star1 {
        bottom: 6rem;
    } */

    /* body.pop__blue-buddha-retail .pop-star1 {
        bottom: 55px;
    } */

    body.pop__bluelloce .pop-club-listing p {
        font-size: 9px;
    }
}

body.pop__hebbevu-fresh-bangalore .list-content .pop-club-listing p {
    justify-content: start;
}

/* Athflex */
body.pop__athflex-clothing .pop_cart_page_msg {
    font-weight: 700 !important;
}

body.pop__athflex-clothing .pop-star #pop-club-quick-buy3 span {
    font-family: Poppins;
}

body.pop__athflex-clothing .pdp_popcoin.loader-pop {
    display: none !important;
}

/* Athflex */
body.pop__athflex-clothing .pop_cart_page_msg {
    font-weight: 700 !important;
}

body.pop__athflex-clothing .pop-star #pop-club-quick-buy3 span {
    font-family: Poppins;
}

body.pop__athflex-clothing .pdp_popcoin.loader-pop {
    display: none !important;
}

body.pop__athflex-clothing .pop_cart_page_container {
    margin-top: 20px !important;
}

body.pop__athflex-clothing.quick_shop_popup_mobile button#pop-club-quick-buy3 {
    display: none;
}

/* body.pop__indus-valley2 a.button.button-ATC {
    margin-top: 20px !important;
}

body.pop__indus-valley2 .card-information {
    padding-bottom: 20px !important;
}

body.pop__indus-valley2 .pop-club-listing p {
    display: flex !important;
} */

body.pop__indus-valley2 .pop-club-listing {
    display: none;
}

body.pop__athflex-clothing .pop_cart_drawer_container .pop_cart_msg {
    display: none;
}

body.pop__indus-valley2 .pop_cart_page_container,
body.pop__73f9bf-f9 .pop_cart_page_container {
    margin-top: 2rem;
}

body.pop__skinvest-skincare .pop_cart_page_container {
    max-width: fit-content;
    margin-left: auto;
}

body.pop__skinvest-skincare .pop-star #pop-club-quick-buy3 span {
    font-family: Montserrat;
}

body.pop__ozzaro2021 .pop-club-listing p {
    justify-content: center;
}

body.pop__ozzaro2021 .footer__copyright {
    padding-bottom: 3rem;
}

body.pop__c900fe-b1 .pop-club-listing p,
body.pop__trynooky-co .pop-club-listing p {
    justify-content: start;
    font-size: 16px;
}

body.pop__instaeats-in #shopify-section-footer .footer__wrapper {
    padding-bottom: 2rem;
}

body.pop__instaeats-in .pop-star #pop-club-quick-buy3 span {
    font-family: poppins;
}

body.pop__c900fe-b1 .pop-star #pop-club-quick-buy3 span,
body.pop__trynooky-co .pop-star #pop-club-quick-buy3 span {
    font-family: var(--FONT-STACK-SUBHEADING);
}

body.pop__jivikanaturals .pop-star #pop-club-quick-buy3 span {
    font-family: var(--font-heading-family);
}

body.pop__nutriburstindia .pop-star #pop-club-quick-buy3 span {
    font-family: 'Expressway', 'Circular Std', sans-serif;
}

body.pop__jivikanaturals .template-search__results .pop-club-listing p {
    justify-content: start;
}

body.pop__jivikanaturals .pop-club-listing p {
    color: initial;
}

body.pop__jivikanaturals #bob_whatsapp_widget_container {
    bottom: 3rem !important;
}

body.pop__instaeats-in .cart_page_popcoin label#buy-with-pop-coins-label span {
    font-size: 13px;
}

body.pop__c900fe-b1 .pop-star,
body.pop__trynooky-co .pop-star {
    z-index: 999;
}

body.pop__73f9bf-f9 .pop_club_cart label#buy-with-pop-coins-label span {
    font-size: 13px;
}

body.pop__27089e .pop-club-listing p {
    font-size: 11px;
}

body.pop__c41b27-a0 .pop_club_cart.min-cart-value:not(.not-logged-in) label#buy-with-pop-coins-label,
body.pop__c41b27-a0 .cart_page_popcoin.min-cart-value:not(.not-logged-in) label#buy-with-pop-coins-label {
    font-size: 11px;
}

body.pop__intervowe .pop_cart_drawer_container {
    padding: 5px;
}

body.pop__bddef5-66 .pop_cart_msg,
body.pop__bddef5-66 .pdp_popcoin,
body.pop__bddef5-66 .pop_club_cart,
body.pop__bddef5-66 .cart_page_popcoin,
body.pop__beastlife-dev .pop_cart_page_msg,
body.pop__skinvest-skincare [data-section-type="recently-viewed-products"] .pop-club-listing,
body.pop__skinvest-skincare .ProductRecommendations .pop-club-listing {
    display: none !important;
}

body.pop__skinvest-skincare .pdp_popcoin label#buy-with-pop-coins-label,
body.pop__skinvest-skincare .pop-club-product p {
    font-size: 11px;
}

body.pop__e61b0c-98 .list-view-filter .pop-club-listing p {
    justify-content: start;
}

body.pop__beastlife-dev .pop_cart_drawer_container,
body.pop__indus-valley2 .pop_cart_drawer_container,
body.pop__indus-valley2 .pop_cart_drawer_container .cart_earn-update,
body.pop__indus-valley2 .pop_cart_page_container,
body.pop__indus-valley2 .pop_cart_page_container .cart_earn-update {
    border: none;
    margin-left: auto;
}

#POPStar.pop-rewards-btn .pop-star1 {
    left: 1rem;
    bottom: 1rem;
    max-width: fit-content;
}

body.pop__utpaladesigns #POPStar.pop-rewards-btn .pop-star {
    bottom: 7rem;
}

#POPStar.pop-rewards-btn button#pop-club-quick-buy3 {
    /* width: 30px; */
    height: 5rem;
    background: transparent;
    max-width: fit-content;
}

body.pop__pee-safe .pop_cart_drawer_container {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    gap: 5px;
}

body.pop__pee-safe .pop_cart_drawer_container .cart_earn-update {
    font-size: 11px;
    margin-bottom: 0;
    font-weight: 400;
}

body.pop__pee-safe .pop_cart_msg {
    margin-bottom: 0;
    font-weight: 400;
}

body.pop__pee-safe .cart_earn-update img {
    max-width: 18px;
}

body.pop__loveofindia .pdp_popcoin #buy-with-pop-coins-label span {
    font-size: 12px;
}

.m-collection-products.m-cols-1 .pop-club-listing p {
    justify-content: start;
}

body.pop__5d818d input#buy-with-pop-coins,
body.pop__5d818d label#buy-with-pop-coins-label {
    z-index: unset;
}

body.pop__ad15e3 .hdt-footer-content-bottom {
    padding-bottom: 1.4rem;
}

@media (min-width: 750px) {

    body.pop__loveofindia .pop_club_cart.min-cart-value #buy-with-pop-coins-label,
    body.pop__loveofindia .cart_page_popcoin.min-cart-value #buy-with-pop-coins-label,
    body.pop__loveofindia .pdp_popcoin.min-cart-value #buy-with-pop-coins-label {
        font-size: 10px;
    }

    body.pop__prsuroski .pop-club-listing p {
        justify-content: start;
    }

    body.pop__giftingstudio-in .footer__content-bottom-wrapper {
        padding-bottom: 3.5rem;
    }

    body.pop__e61b0c-98 .footer__content-bottom {
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 749px) {
    /* body.pop__athflex-clothing .pop-star1 {
        bottom: 65px !important;
    } */

    body.pop__skinvest-skincare .pdp_popcoin label#buy-with-pop-coins-label,
    body.pop__skinvest-skincare .pop-club-product p {
        font-size: 10px;
    }

    body.pop__27089e .template--cart #cart .hc-sale-tag {
        top: 6rem;
    }

    body.pop__27089e .pop-star1 {
        bottom: 6rem;
    }

    body.pop__uomo-co-in .pop-star1 {
        bottom: 7rem;
    }

    body.pop__indus-valley2 .pop-star1 {
        bottom: 6rem;
    }

    body.pop__c900fe-b1 .pop-club-listing p,
    body.pop__trynooky-co .pop-club-listing p {
        justify-content: start;
        font-size: 9px;
    }

    body.pop__indus-valley2 label#buy-with-pop-coins-label span {
        font-size: 13px;
    }

    body.pop__indus-valley2 .pdp_popcoin label#buy-with-pop-coins-label {
        font-size: 12px;
    }

    body.pop__nutriburstindia .pop-star1 {
        bottom: 5.2rem;
    }

    body.pop__73f9bf-f9 .pop-club-listing p {
        justify-content: start;
    }

    body.pop__ad15e3 .pop-star1 {
        bottom: 6rem;
    }

}


@media screen and (max-width: 768px) {
    body.pop__neurogum-india .pop-star1 {
        bottom: 53.4px;
    }
}

@media only screen and (max-width: 321px) {

    .pop_club_cart.not-logged-in label#buy-with-pop-coins-label span,
    .cart_page_popcoin.not-logged-in label#buy-with-pop-coins-label span {
        font-size: 10.5px;
    }
}