@font-face {
  font-family: 'Noto Sans Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosansgothic/v17/TuGKUUVzXI5FBtUq5a8bj6wRbzxTJMLy1g.ttf) format('truetype');
}
