#ukn50qhiltj41768211601599 { outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; inset: auto 0px 0px auto !important; position: fixed !important; border: 0px !important; min-height: 0px !important; min-width: 0px !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: auto !important; height: auto !important; display: none !important; z-index: 2000000000 !important; cursor: none !important; float: none !important; border-radius: unset !important; pointer-events: auto !important; clip: auto !important; color-scheme: light !important; }
#ukn50qhiltj41768211601599.widget-hidden { display: none !important; }
#ukn50qhiltj41768211601599.widget-visible { display: block !important; }
@media print {
  #ukn50qhiltj41768211601599.widget-visible { display: none !important; }
}
.tawk-button-hover[data-v-2fc2d95d]:focus, .tawk-button-hover[data-v-2fc2d95d]:hover { background-color: rgba(255, 255, 255, 0.2) !important; border-radius: 5px !important; }
@keyframes tawkMaxOpen { 
  0% { opacity: 0; transform: translate(0px, 30px); }
  100% { opacity: 1; transform: translate(0px, 0px); }
}
@-webkit-keyframes tawkMaxOpen { 
  0% { opacity: 0; transform: translate(0px, 30px); }
  100% { opacity: 1; transform: translate(0px, 0px); }
}
#kv1lprhoj9bk1768211601647.open { animation: 0.25s ease 0s 1 normal none running tawkMaxOpen !important; }
@keyframes tawkMaxClose { 
  0% { opacity: 1; transform: translate(0px, 0px); }
  100% { opacity: 0; transform: translate(0px, 30px); }
}
@-webkit-keyframes tawkMaxClose { 
  0% { opacity: 1; transform: translate(0px, 0px); }
  100% { opacity: 0; transform: translate(0px, 30px); }
}
#kv1lprhoj9bk1768211601647.closed { animation: 0.25s ease 0s 1 normal none running tawkMaxClose !important; }
