.shogun-heading-component h1,
.shogun-heading-component h2,
.shogun-heading-component h3,
.shogun-heading-component h4,
.shogun-heading-component h5,
.shogun-heading-component h6 {
  margin: 0;
  padding: 0;
  display: block;
  color: #000;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.shogun-heading-component a {
  text-decoration: none !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

#s-3aca96a7-c127-42ec-9413-43f9e70e274d {
  text-align: center;
}

#s-3aca96a7-c127-42ec-9413-43f9e70e274d .shogun-heading-component h1 {
  color: rgba(247, 71, 23, 1);
  font-weight:   ;
  font-family: ;
  font-style:   ;
  font-size: 32px;
  line-height: ;
  letter-spacing: ;
  text-align: center;
}



.shogun-image-container {
  position: relative;
}

.shogun-image-container.shg-align-left {
  text-align: left;
}

.shogun-image-container.shg-align-center {
  text-align: center;
}

.shogun-image-container.shg-align-right {
  text-align: right;
}

.shogun-image-linked {
  cursor: pointer;
}

.shogun-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.shogun-image-overlay.shg-top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.shogun-image-overlay.shg-top-center {
  align-items: flex-start;
  justify-content: center;
}

.shogun-image-overlay.shg-top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.shogun-image-overlay.shg-middle-left {
  align-items: center;
  justify-content: flex-start;
}

.shogun-image-overlay.shg-middle-center {
  align-items: center;
  justify-content: center;
}

.shogun-image-overlay.shg-middle-right {
  align-items: center;
  justify-content: flex-end;
}

.shogun-image-overlay.shg-bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.shogun-image-overlay.shg-bottom-center {
  align-items: flex-end;
  justify-content: center;
}

.shogun-image-overlay.shg-bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.shogun-image-overlay p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.shogun-image-cover {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
  width: 100%;
}

.shogun-image-contain {
  font-family: "object-fit: contain;";
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.shogun-image-link {
  display: block;
  min-height: inherit;
  max-height: inherit;
}

img.shogun-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.shogun-image-content {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.shogun-image-content-linked, .shogun-image-content-not-linked {
  pointer-events: none;
}

.shogun-image-content-not-linked > div {
  pointer-events: auto;
}

.shogun-image-content-linked a,
.shogun-image-content-linked button,
.shogun-image-content-linked iframe,
.shogun-image-content-linked .shg-box-linked {
  pointer-events: auto;
}

.shogun-image-content > div {
  width: 100%;
}

.shogun-image-content-top {
  align-items: flex-start;
}

.shogun-image-content-center {
  align-items: center;
}

.shogun-image-content-bottom {
  align-items: flex-end;
}
#s-38ab04e5-61c6-4036-a871-09eba0fbdb50 {
  text-align: center;
}




  #s-38ab04e5-61c6-4036-a871-09eba0fbdb50 img.shogun-image {
    
    width: px;
  }


#s-38ab04e5-61c6-4036-a871-09eba0fbdb50 .shogun-image-content {
  
    align-items: center;
  
}

/*
  $vgutter : 20px
  $hgutter : 10px;
*/

.shg-c:before,
.shg-c:after {
  content: " ";
  display: table;
}

/**
  Ref:
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
  https://dnf.slack.com/archives/C0514HB79/p1538741509000100
**/
.shogun-root {
  z-index: 1;
  position: relative;
  isolation: isolate;
}

.shogun-root iframe {
  display: initial;
}

@media (max-width: 1024px) {
  .shg-c,
  .shg-box {
    background-attachment: scroll !important;
  }
}

#mc_embed_signup .clear {
  width: auto !important;
  height: auto !important;
  visibility: visible !important;
}

.shg-clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.shogun-image {
  max-width: 100%;
  min-height: inherit;
  max-height: inherit;
  display: inline !important;
  border: 0;
  vertical-align: middle;
}

.shg-fw {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.shg-fw .shg-fw {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

div[data-shg-lightbox-switch] {
  cursor: pointer;
}

.shg-lightbox {
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
}

.shg-lightbox.hidden {
  display: none !important;
}

.shg-lightbox .shg-lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.shg-lightbox .shg-lightbox-close {
  position: absolute;
  right: 0;
  padding: 5px 0;
  color: #fff;
  font-size: 45px;
  margin-right: 10px;
  line-height: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 1;
}

.shg-lightbox .shg-lightbox-image-container {
  padding: 25px;
}

.shg-lightbox .shg-lightbox-image {
  margin: auto;
  max-height: 90vh;
  max-width: 100%;
}

.shg-lightbox .shg-lightbox-close:hover,
.shg-lightbox .shg-lightbox-close:focus {
  color: #a2a2a2;
  text-decoration: none;
  cursor: pointer;
}

.shg-lightbox .shg-lightbox-nav {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 35px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(0%, -50%);
  z-index: 1;
}

.shg-lightbox .shg-lightbox-nav.hidden {
  display: none !important;
}

.shg-lightbox .shg-lightbox-nav.shg-nav-left {
  left: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0id2hpdGUiPjxwYXRoIGQ9Ik0xMjAzIDU0NHEwIDEzLTEwIDIzbC0zOTMgMzkzIDM5MyAzOTNxMTAgMTAgMTAgMjN0LTEwIDIzbC01MCA1MHEtMTAgMTAtMjMgMTB0LTIzLTEwbC00NjYtNDY2cS0xMC0xMC0xMC0yM3QxMC0yM2w0NjYtNDY2cTEwLTEwIDIzLTEwdDIzIDEwbDUwIDUwcTEwIDEwIDEwIDIzeiIvPjwvc3ZnPg==);
}

.shg-lightbox .shg-lightbox-nav.shg-nav-right {
  right: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0id2hpdGUiPjxwYXRoIGQ9Ik0xMTcxIDk2MHEwIDEzLTEwIDIzbC00NjYgNDY2cS0xMCAxMC0yMyAxMHQtMjMtMTBsLTUwLTUwcS0xMC0xMC0xMC0yM3QxMC0yM2wzOTMtMzkzLTM5My0zOTNxLTEwLTEwLTEwLTIzdDEwLTIzbDUwLTUwcTEwLTEwIDIzLTEwdDIzIDEwbDQ2NiA0NjZxMTAgMTAgMTAgMjN6Ii8+PC9zdmc+);
}

@media screen and (min-width: 769px) {
  .shg-lightbox .shg-lightbox-image-container {
    padding: 50px;
  }
}

.shogun-lazyload:not([src]),
.shogun-lazyloading:not([src]) {
	opacity: 0;
}
.shogun-lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}
