img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px; }
:root { --wp--preset--aspect-ratio--square: 1; --wp--preset--aspect-ratio--4-3: 4/3; --wp--preset--aspect-ratio--3-4: 3/4; --wp--preset--aspect-ratio--3-2: 3/2; --wp--preset--aspect-ratio--2-3: 2/3; --wp--preset--aspect-ratio--16-9: 16/9; --wp--preset--aspect-ratio--9-16: 9/16; --wp--preset--color--black: #000000; --wp--preset--color--cyan-bluish-gray: #abb8c3; --wp--preset--color--white: #ffffff; --wp--preset--color--pale-pink: #f78da7; --wp--preset--color--vivid-red: #cf2e2e; --wp--preset--color--luminous-vivid-orange: #ff6900; --wp--preset--color--luminous-vivid-amber: #fcb900; --wp--preset--color--light-green-cyan: #7bdcb5; --wp--preset--color--vivid-green-cyan: #00d084; --wp--preset--color--pale-cyan-blue: #8ed1fc; --wp--preset--color--vivid-cyan-blue: #0693e3; --wp--preset--color--vivid-purple: #9b51e0; --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgb(6,147,227) 0%,rgb(155,81,224) 100%); --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%); --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgb(252,185,0) 0%,rgb(255,105,0) 100%); --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgb(255,105,0) 0%,rgb(207,46,46) 100%); --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%); --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%); --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%); --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%); --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%); --wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%); --wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%); --wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%); --wp--preset--font-size--small: 13px; --wp--preset--font-size--medium: 20px; --wp--preset--font-size--large: 36px; --wp--preset--font-size--x-large: 42px; --wp--preset--spacing--20: 0.44rem; --wp--preset--spacing--30: 0.67rem; --wp--preset--spacing--40: 1rem; --wp--preset--spacing--50: 1.5rem; --wp--preset--spacing--60: 2.25rem; --wp--preset--spacing--70: 3.38rem; --wp--preset--spacing--80: 5.06rem; --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2); --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4); --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2); --wp--preset--shadow--outlined: 6px 6px 0px -3px rgb(255, 255, 255), 6px 6px rgb(0, 0, 0); --wp--preset--shadow--crisp: 6px 6px 0px rgb(0, 0, 0); }
:root { --wp--style--global--content-size: 800px; --wp--style--global--wide-size: 1200px; }
:where(body) { margin: 0px; }
.wp-site-blocks > .alignleft { float: left; margin-right: 2em; }
.wp-site-blocks > .alignright { float: right; margin-left: 2em; }
.wp-site-blocks > .aligncenter { justify-content: center; margin-left: auto; margin-right: auto; }
:where(.wp-site-blocks) > * { margin-block: 24px 0px; }
:where(.wp-site-blocks) > :first-child { margin-block-start: 0px; }
:where(.wp-site-blocks) > :last-child { margin-block-end: 0px; }
:root { --wp--style--block-gap: 24px; }
:root :where(.is-layout-flow) > :first-child { margin-block-start: 0px; }
:root :where(.is-layout-flow) > :last-child { margin-block-end: 0px; }
:root :where(.is-layout-flow) > * { margin-block: 24px 0px; }
:root :where(.is-layout-constrained) > :first-child { margin-block-start: 0px; }
:root :where(.is-layout-constrained) > :last-child { margin-block-end: 0px; }
:root :where(.is-layout-constrained) > * { margin-block: 24px 0px; }
:root :where(.is-layout-flex) { gap: 24px; }
:root :where(.is-layout-grid) { gap: 24px; }
.is-layout-flow > .alignleft { float: left; margin-inline: 0px 2em; }
.is-layout-flow > .alignright { float: right; margin-inline: 2em 0px; }
.is-layout-flow > .aligncenter { margin-left: auto !important; margin-right: auto !important; }
.is-layout-constrained > .alignleft { float: left; margin-inline: 0px 2em; }
.is-layout-constrained > .alignright { float: right; margin-inline: 2em 0px; }
.is-layout-constrained > .aligncenter { margin-left: auto !important; margin-right: auto !important; }
.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) { max-width: var(--wp--style--global--content-size); margin-left: auto !important; margin-right: auto !important; }
.is-layout-constrained > .alignwide { max-width: var(--wp--style--global--wide-size); }
body .is-layout-flex { display: flex; }
.is-layout-flex { flex-wrap: wrap; align-items: center; }
.is-layout-flex > :is(*, div) { margin: 0px; }
body .is-layout-grid { display: grid; }
.is-layout-grid > :is(*, div) { margin: 0px; }
body { padding: 0px; }
a:where(:not(.wp-element-button)) { text-decoration: underline; }
:root :where(.wp-element-button, .wp-block-button__link) { background-color: rgb(50, 55, 60); border-width: 0px; color: rgb(255, 255, 255); font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; letter-spacing: inherit; line-height: inherit; padding: calc(0.667em + 2px) calc(1.333em + 2px); text-decoration: none; text-transform: inherit; }
.has-black-color { color: var(--wp--preset--color--black) !important; }
.has-cyan-bluish-gray-color { color: var(--wp--preset--color--cyan-bluish-gray) !important; }
.has-white-color { color: var(--wp--preset--color--white) !important; }
.has-pale-pink-color { color: var(--wp--preset--color--pale-pink) !important; }
.has-vivid-red-color { color: var(--wp--preset--color--vivid-red) !important; }
.has-luminous-vivid-orange-color { color: var(--wp--preset--color--luminous-vivid-orange) !important; }
.has-luminous-vivid-amber-color { color: var(--wp--preset--color--luminous-vivid-amber) !important; }
.has-light-green-cyan-color { color: var(--wp--preset--color--light-green-cyan) !important; }
.has-vivid-green-cyan-color { color: var(--wp--preset--color--vivid-green-cyan) !important; }
.has-pale-cyan-blue-color { color: var(--wp--preset--color--pale-cyan-blue) !important; }
.has-vivid-cyan-blue-color { color: var(--wp--preset--color--vivid-cyan-blue) !important; }
.has-vivid-purple-color { color: var(--wp--preset--color--vivid-purple) !important; }
.has-black-background-color { background-color: var(--wp--preset--color--black) !important; }
.has-cyan-bluish-gray-background-color { background-color: var(--wp--preset--color--cyan-bluish-gray) !important; }
.has-white-background-color { background-color: var(--wp--preset--color--white) !important; }
.has-pale-pink-background-color { background-color: var(--wp--preset--color--pale-pink) !important; }
.has-vivid-red-background-color { background-color: var(--wp--preset--color--vivid-red) !important; }
.has-luminous-vivid-orange-background-color { background-color: var(--wp--preset--color--luminous-vivid-orange) !important; }
.has-luminous-vivid-amber-background-color { background-color: var(--wp--preset--color--luminous-vivid-amber) !important; }
.has-light-green-cyan-background-color { background-color: var(--wp--preset--color--light-green-cyan) !important; }
.has-vivid-green-cyan-background-color { background-color: var(--wp--preset--color--vivid-green-cyan) !important; }
.has-pale-cyan-blue-background-color { background-color: var(--wp--preset--color--pale-cyan-blue) !important; }
.has-vivid-cyan-blue-background-color { background-color: var(--wp--preset--color--vivid-cyan-blue) !important; }
.has-vivid-purple-background-color { background-color: var(--wp--preset--color--vivid-purple) !important; }
.has-black-border-color { border-color: var(--wp--preset--color--black) !important; }
.has-cyan-bluish-gray-border-color { border-color: var(--wp--preset--color--cyan-bluish-gray) !important; }
.has-white-border-color { border-color: var(--wp--preset--color--white) !important; }
.has-pale-pink-border-color { border-color: var(--wp--preset--color--pale-pink) !important; }
.has-vivid-red-border-color { border-color: var(--wp--preset--color--vivid-red) !important; }
.has-luminous-vivid-orange-border-color { border-color: var(--wp--preset--color--luminous-vivid-orange) !important; }
.has-luminous-vivid-amber-border-color { border-color: var(--wp--preset--color--luminous-vivid-amber) !important; }
.has-light-green-cyan-border-color { border-color: var(--wp--preset--color--light-green-cyan) !important; }
.has-vivid-green-cyan-border-color { border-color: var(--wp--preset--color--vivid-green-cyan) !important; }
.has-pale-cyan-blue-border-color { border-color: var(--wp--preset--color--pale-cyan-blue) !important; }
.has-vivid-cyan-blue-border-color { border-color: var(--wp--preset--color--vivid-cyan-blue) !important; }
.has-vivid-purple-border-color { border-color: var(--wp--preset--color--vivid-purple) !important; }
.has-vivid-cyan-blue-to-vivid-purple-gradient-background { background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important; }
.has-light-green-cyan-to-vivid-green-cyan-gradient-background { background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important; }
.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background { background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important; }
.has-luminous-vivid-orange-to-vivid-red-gradient-background { background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important; }
.has-very-light-gray-to-cyan-bluish-gray-gradient-background { background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important; }
.has-cool-to-warm-spectrum-gradient-background { background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important; }
.has-blush-light-purple-gradient-background { background: var(--wp--preset--gradient--blush-light-purple) !important; }
.has-blush-bordeaux-gradient-background { background: var(--wp--preset--gradient--blush-bordeaux) !important; }
.has-luminous-dusk-gradient-background { background: var(--wp--preset--gradient--luminous-dusk) !important; }
.has-pale-ocean-gradient-background { background: var(--wp--preset--gradient--pale-ocean) !important; }
.has-electric-grass-gradient-background { background: var(--wp--preset--gradient--electric-grass) !important; }
.has-midnight-gradient-background { background: var(--wp--preset--gradient--midnight) !important; }
.has-small-font-size { font-size: var(--wp--preset--font-size--small) !important; }
.has-medium-font-size { font-size: var(--wp--preset--font-size--medium) !important; }
.has-large-font-size { font-size: var(--wp--preset--font-size--large) !important; }
.has-x-large-font-size { font-size: var(--wp--preset--font-size--x-large) !important; }
:root :where(.wp-block-pullquote) { font-size: 1.5em; line-height: 1.6; }
.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * { background-image: none !important; }
@media screen and (max-height: 1024px) {
  .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * { background-image: none !important; }
}
@media screen and (max-height: 640px) {
  .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * { background-image: none !important; }
}
@media (min-width: 1025px) {
  body .uag-hide-desktop.uagb-google-map__wrap, body .uag-hide-desktop { display: none !important; }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .uag-hide-tab.uagb-google-map__wrap, body .uag-hide-tab { display: none !important; }
}
@media (max-width: 767px) {
  body .uag-hide-mob.uagb-google-map__wrap, body .uag-hide-mob { display: none !important; }
}
.gradient-text h1, .gradient-text h2 { background: linear-gradient(45deg, rgb(211, 0, 0), rgb(255, 163, 0)) text; -webkit-text-fill-color: transparent; }
.caf-filter-container a { font-size: 16px !important; }
.caf-post-title h2 a { font-size: 22px !important; line-height: 1.3em !important; }
.caf-content { font-size: 18px !important; line-height: 1.5em; }
@media (max-width: 768px) {
  h2.wp-block-heading { font-size: 7vw !important; }
  h3.wp-block-heading { font-size: 6vw !important; }
  ul.wp-block-list, ol.wp-block-list { padding-left: 20px !important; }
  .uagb-toc__wrap { padding: 15px !important; }
  .uagb-toc__list-wrap ol li a { font-size: 16px !important; }
  .uagb-toc__list { margin-left: 0px !important; }
  .dgb-heading h1.elementor-heading-title { font-size: 10vw !important; text-align: left; }
  .dgb-heading h2.elementor-heading-title { font-size: 7vw !important; text-align: left; }
  .dgb-heading h3.elementor-heading-title { font-size: 5vw !important; text-align: left; }
}
:root { --bg: #0f172a; --card: #111827; --muted: #94a3b8; --text: #e5e7eb; --accent: #ef4444; --accent2: #f59e0b; --shadow: 0 10px 30px rgba(0,0,0,.45); --radius: 18px; }
.wrap { max-width: 1100px; margin: 40px auto; padding: 0px 16px; }
.wrap h2 { font-size: clamp(1.4rem, 2.4vw, 2.1rem); margin: 0px; }
p.lead { color: rgb(211, 0, 0); margin: 10px 0px; }
.pill { display: inline-flex; align-items: center; gap: 8px; padding: 6px 10px; border-radius: 999px; font-weight: 600; font-size: 0.85rem; background: rgb(11, 19, 36); border: 1px solid rgb(31, 41, 55); color: rgb(255, 163, 0); }
.pill .dot { width: 10px; height: 10px; border-radius: 50%; }
.dot.cay { background: rgb(255, 163, 0); }
.dot.chi { background: rgb(255, 163, 0); }
.grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); gap: 18px; margin-top: 20px; }
.card2 { background: rgb(11, 19, 36); border: 1px solid rgb(31, 41, 55); border-radius: var(--radius); box-shadow: var(--shadow); padding: 18px; }
.card2 h3 { margin: 0.2rem 0px 0.6rem; font-size: 1.1rem; }
.kv { display: grid; grid-template-columns: 140px 1fr; gap: 10px; margin: 10px 0px; }
.kv b { color: rgb(255, 163, 0); }
.kv span { color: rgb(255, 255, 255); }
.tips { margin: 22px 0px 8px; display: grid; gap: 14px; }
.tip { background: rgb(11, 19, 36); border: 1px dashed rgb(38, 48, 65); padding: 14px; border-radius: 14px; color: rgb(255, 163, 0); }
small { color: rgb(255, 255, 255); }
:root { --red: #d30000; --orange: #FFA300; --white: #fff; --ink: #1b1b1b; --muted: #666; --card: #ffffff; --shadow: 0 10px 30px rgba(0,0,0,.12); --radius: 20px; }
.wrap { max-width: 1100px; margin: 40px auto; padding: 0px 16px 40px; }
.title { display: flex; align-items: center; gap: 12px; margin: 10px 0px 22px; font-weight: 800; letter-spacing: 0.2px; }
.title .tag { padding: 6px 12px; border-radius: 999px; background: linear-gradient(135deg, var(--red), var(--orange)); color: var(--white); font-size: 0.8rem; font-weight: 700; }
.grid { display: grid; grid-template-columns: repeat(2, minmax(260px, 1fr)); gap: 22px; }
@media (max-width: 820px) {
  .grid { grid-template-columns: 1fr; }
}
.card { background: var(--card); border-radius: var(--radius); box-shadow: var(--shadow); overflow: hidden; position: relative; border: 1px solid rgba(0, 0, 0, 0.05); }
.body { padding: 22px; }
.card h2 { margin: 6px 0px 14px; font-size: 1.4rem; }
.sub { font-size: 0.9rem; color: var(--muted); margin: -6px 0px 16px; }
.chips { display: flex; flex-wrap: wrap; gap: 10px; margin: 16px 0px 8px; }
.chip { background: rgb(255, 255, 255); border: 1px dashed rgba(211, 0, 0, 0.35); padding: 8px 10px; border-radius: 12px; font-size: 0.9rem; line-height: 1.1; }
.chip strong { color: var(--red); }
.section-title { margin: 18px 0px 10px; font-weight: 800; font-size: 1rem; color: var(--red); display: flex; align-items: center; gap: 8px; }
.section-title::before { content: ""; display: inline-block; width: 8px; height: 8px; border-radius: 2px; background: var(--orange); }
.list { margin: 0px; padding: 0px 0px 0px 18px; }
.list li { margin: 8px 0px; }
.footer-note { margin-top: 14px; font-size: 0.85rem; color: var(--muted); }
.legend { display: flex; gap: 10px; align-items: center; margin: 8px 0px 0px; font-size: 0.8rem; color: var(--muted); }
.swatch { width: 12px; height: 12px; border-radius: 3px; display: inline-block; }
.swatch.red { background: var(--red); }
.swatch.orange { background: var(--orange); }
