@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/hammersmithone/v18/qWcyB624q4L_C4jGQ9IK0O_dFlnrtREg.ttf) format('truetype');
}
