* { box-sizing: border-box; }
body { margin: 0px; font-family: "segoe ui"; }
.nav { width: 100%; background-color: rgb(77, 77, 77); position: relative; height: 50px !important; }
.nav > .nav-header { display: inline; }
.navbar { position: absolute !important; }
.nav > .nav-header > .nav-title { display: inline-block; font-size: 22px; color: rgb(0, 0, 0); padding: 10px; }
.nav > .nav-btn { display: none; }
.nav-links { display: none; }
.nav > #nav-check { display: none; }
@media only screen and (min-width: 100px) and (max-width: 1000px) {
  .nav { height: 100px !important; padding: 10px !important; }
  .navtopbar { display: none !important; }
  .logo { position: absolute; left: 50%; padding: 1px; font-size: 2.5rem; margin-top: -5px; }
  .userdetails { color: transparent !important; }
  .nav > .nav-btn { display: inline-block; position: absolute; right: 0px; top: 0px; }
  .nav > .nav-btn > label { display: inline-block; width: 50px; height: 50px; padding: 13px; background-color: rgb(89, 56, 37); margin-top: 20px; }
  .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label { background-color: rgb(89, 56, 37); margin-right: 10px; }
  .nav > .nav-btn > label > span { display: block; width: 25px; height: 10px; border-top: 2px solid rgb(238, 238, 238); }
  .nav > .nav-links { position: absolute; display: block; width: 100%; background-color: rgb(89, 56, 37); height: 0px; transition: 0.3s ease-in; overflow-y: hidden; top: 97px; right: 0px; color: rgb(255, 255, 255); line-height: 40px !important; padding-left: 25px !important; }
  .nav > .nav-links > a { display: block; width: 100%; color: white !important; }
  .nav > #nav-check:not(:checked) ~ .nav-links { height: 0px; }
  .nav > #nav-check:checked ~ .nav-links { height: calc(-50px + 88vh); overflow-y: auto; }
  .logo { position: absolute; left: 50%; padding: 1px; font-size: 2.5rem; margin-top: -5px; }
  .nav-dropdown { position: static; }
  .navbar-links { display: none !important; }
}
@media only screen and (min-width: 1001px) and (max-width: 2500px) {
  .nav { height: 100px !important; }
  .navtopbar1 { display: none !important; }
}
@media only screen and (min-width: 1001px) and (max-width: 1161px) {
  .navbar-links li.navbar-dropdown { position: relative; font-size: 17px !important; }
}
.logo { order: 1; font-size: 2.3rem; position: absolute; left: 0px; top: -15px; padding: 15px; }
.basket { width: 40px; height: 45px; border-radius: 5px; padding: 5px; margin-top: -10px; }
.nav { height: 15%; }
.nav-dropdown { position: absolute; display: none; z-index: 1; box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px; }
.navbar-links { list-style-type: none; display: flex; margin-left: 275px; }
.navbar-links li a { display: block; text-decoration: none; color: rgb(68, 68, 68); padding: 25px 15px; font-weight: 500; transition: 0.4s; }
.navbar-links li.navbar-dropdown { position: relative; font-size: 20px; }
.navbar-links li.navbar-dropdown:hover .dropdown { visibility: visible; opacity: 1; transform: translateY(0px); }
.navbar-links li.navbar-dropdown .dropdown { visibility: hidden; opacity: 0; position: absolute; padding: 20px 0px; top: 100%; transform: translateY(50px); left: 0px; width: 250px; background-color: rgb(239, 230, 221); box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; z-index: 111; transition: 0.4s; }
.navbar-links li.navbar-dropdown .dropdown a { padding-top: 10px; padding-bottom: 10px; font-weight: 400; }
.listdata:hover { background-color: white; }
#drop1:hover { background-color: white; }
.blog:hover { background-color: white; }
.recipe:hover { background-color: white; }
#drop2:hover { background-color: white; }
.blink { animation: 1s step-end 0s infinite normal none running blinker; }
a { text-decoration: none; color: unset; }
a { outline: none; }
@media only screen and (min-width: 1200px) {
  .freeship { right: 25%; }
}
@media only screen and (min-width: 1001px) and (max-width: 1199px) {
  .freeship { right: 15%; }
}
.slider { position: absolute; cursor: pointer; inset: 0px; background-color: rgb(255, 255, 255); }
.slider1 { position: absolute; cursor: pointer; inset: 0px; background-color: rgb(255, 255, 255); }
.slider::before { position: absolute; content: ""; height: 13px; width: 13px; left: 0px; bottom: 0px; background-color: rgb(220, 156, 19); }
.slider1::before { position: absolute; content: ""; height: 13px; width: 13px; left: 0px; bottom: 0px; background-color: rgb(156, 60, 26); }
input:checked + .slider { background-color: rgb(255, 255, 255); }
input:focus + .slider { box-shadow: rgb(255, 255, 255) 0px 0px 5px; }
input:checked + .slider::before { transform: translateX(16px); }
input:checked + .slider1::before { transform: translateX(16px); }
.slider.round { border-radius: 35px; border: 1px solid rgb(220, 156, 19); }
.slider1.round { border-radius: 35px; border: 1px solid rgb(156, 60, 26); }
.slider.round::before { border-radius: 50%; }
.slider1.round::before { border-radius: 50%; }
.addtocart { background-color: rgb(66, 93, 39); color: white; border: none; border-radius: 5px; padding-left: 100px; padding-right: 100px; }
.scroll { overflow: scroll; height: 72%; }
.scroll2 { overflow: scroll; height: 60%; width: 100%; }
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: rgb(66, 93, 39); border-radius: 5px; }
::-webkit-scrollbar-thumb { border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background-color: rgb(239, 230, 221); }
@media only screen and (min-width: 100px) and (max-width: 1300px) {
  .deleteclass { margin-left: 0px; }
  .editclass { margin-left: -16px; }
  .cartpage { margin-left: 3px !important; width: 330px !important; }
  .mobilescr { width: 112% !important; }
  .mobcs { width: 116px !important; }
}
@media (min-width: 400px) {
  .cartpage { width: 382px !important; }
}
.mobcs { width: 380px; }
@keyframes rzp-rot { 
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes rzp-rot { 
  100% { transform: rotate(360deg); }
}
.razorpay-container > iframe { min-height: 100% !important; }
