/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_normal-icon";
    src: url("./flaticon_normal-icon.woff2?cf4f58bc7a6a67e40dcbabafc7022f1a") format("woff2"),
url("./flaticon_normal-icon.woff?cf4f58bc7a6a67e40dcbabafc7022f1a") format("woff"),
url("./flaticon_normal-icon.eot?cf4f58bc7a6a67e40dcbabafc7022f1a#iefix") format("embedded-opentype"),
url("./flaticon_normal-icon.ttf?cf4f58bc7a6a67e40dcbabafc7022f1a") format("truetype"),
url("./flaticon_normal-icon.svg?cf4f58bc7a6a67e40dcbabafc7022f1a#flaticon_normal-icon") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_normal-icon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-right-arrow:before {
    content: "\f101";
}
.flaticon-right-arrow-1:before {
    content: "\f102";
}
.flaticon-arrow-down-sign-to-navigate:before {
    content: "\f103";
}
.flaticon-down-arrow:before {
    content: "\f104";
}
.flaticon-arrow:before {
    content: "\f105";
}
.flaticon-fast-forward:before {
    content: "\f106";
}
.flaticon-down-arrow-1:before {
    content: "\f107";
}
.flaticon-next:before {
    content: "\f108";
}
.flaticon-right-arrow-2:before {
    content: "\f109";
}
.flaticon-fast-forward-double-right-arrows-symbol:before {
    content: "\f10a";
}
.flaticon-curve-down-arrow:before {
    content: "\f10b";
}
.flaticon-left-arrow:before {
    content: "\f10c";
}
.flaticon-right:before {
    content: "\f10d";
}
.flaticon-down-arrow-2:before {
    content: "\f10e";
}
.flaticon-up-arrow:before {
    content: "\f10f";
}
.flaticon-arrow-right:before {
    content: "\f110";
}
.flaticon-next-1:before {
    content: "\f111";
}
.flaticon-right-1:before {
    content: "\f112";
}
.flaticon-instagram:before {
    content: "\f113";
}
.flaticon-facebook:before {
    content: "\f114";
}
.flaticon-tiktok:before {
    content: "\f115";
}
.flaticon-whatsapp:before {
    content: "\f116";
}
.flaticon-linkedin:before {
    content: "\f117";
}
.flaticon-youtube:before {
    content: "\f118";
}
.flaticon-facebook-1:before {
    content: "\f119";
}
.flaticon-tik-tok:before {
    content: "\f11a";
}
.flaticon-social:before {
    content: "\f11b";
}
.flaticon-twitter:before {
    content: "\f11c";
}
.flaticon-whatsapp-1:before {
    content: "\f11d";
}
.flaticon-call:before {
    content: "\f11e";
}
.flaticon-phone-call:before {
    content: "\f11f";
}
.flaticon-telephone:before {
    content: "\f120";
}
.flaticon-support:before {
    content: "\f121";
}
.flaticon-mail:before {
    content: "\f122";
}
.flaticon-email:before {
    content: "\f123";
}
.flaticon-email-1:before {
    content: "\f124";
}
.flaticon-email-2:before {
    content: "\f125";
}
.flaticon-envelope:before {
    content: "\f126";
}
.flaticon-location:before {
    content: "\f127";
}
.flaticon-location-1:before {
    content: "\f128";
}
.flaticon-placeholder:before {
    content: "\f129";
}
.flaticon-location-2:before {
    content: "\f12a";
}
.flaticon-placeholder-1:before {
    content: "\f12b";
}
.flaticon-location-pin:before {
    content: "\f12c";
}
.flaticon-youtube-1:before {
    content: "\f12d";
}
.flaticon-question:before {
    content: "\f12e";
}
.flaticon-question-1:before {
    content: "\f12f";
}
.flaticon-question-2:before {
    content: "\f130";
}
.flaticon-rating:before {
    content: "\f131";
}
.flaticon-best-customer-experience:before {
    content: "\f132";
}
.flaticon-brand:before {
    content: "\f133";
}
.flaticon-brand-1:before {
    content: "\f134";
}
.flaticon-reliability:before {
    content: "\f135";
}
.flaticon-badge:before {
    content: "\f136";
}
.flaticon-product:before {
    content: "\f137";
}
.flaticon-order:before {
    content: "\f138";
}
.flaticon-right-arrow-3:before {
    content: "\f139";
}
.flaticon-upload:before {
    content: "\f13a";
}
.flaticon-arrow-up:before {
    content: "\f13b";
}
.flaticon-up-arrow-1:before {
    content: "\f13c";
}
.flaticon-call-1:before {
    content: "\f13d";
}
.flaticon-phone:before {
    content: "\f13e";
}
.flaticon-virtual-assistants:before {
    content: "\f13f";
}
.flaticon-phone-call-1:before {
    content: "\f140";
}
.flaticon-telephone-1:before {
    content: "\f141";
}
.flaticon-facebook-2:before {
    content: "\f142";
}
.flaticon-facebook-logo:before {
    content: "\f143";
}
.flaticon-social-1:before {
    content: "\f144";
}
.flaticon-linkedin-1:before {
    content: "\f145";
}
.flaticon-house:before {
    content: "\f146";
}
.flaticon-home:before {
    content: "\f147";
}
.flaticon-checked:before {
    content: "\f148";
}
.flaticon-check:before {
    content: "\f149";
}
.flaticon-check-mark:before {
    content: "\f14a";
}
.flaticon-check-1:before {
    content: "\f14b";
}
.flaticon-check-mark-1:before {
    content: "\f14c";
}
.flaticon-check-mark-2:before {
    content: "\f14d";
}
.flaticon-menu-bar:before {
    content: "\f14e";
}
.flaticon-location-3:before {
    content: "\f14f";
}
.flaticon-maps:before {
    content: "\f150";
}
.flaticon-calendar:before {
    content: "\f151";
}
.flaticon-calendar-1:before {
    content: "\f152";
}
.flaticon-calendar-2:before {
    content: "\f153";
}
.flaticon-calendar-3:before {
    content: "\f154";
}
.flaticon-telephone-2:before {
    content: "\f155";
}
.flaticon-telephone-3:before {
    content: "\f156";
}
.flaticon-telephone-4:before {
    content: "\f157";
}
.flaticon-phone-1:before {
    content: "\f158";
}
.flaticon-telephone-5:before {
    content: "\f159";
}
.flaticon-up-arrow-2:before {
    content: "\f15a";
}
.flaticon-upload-1:before {
    content: "\f15b";
}
.flaticon-circle-button:before {
    content: "\f15c";
}
.flaticon-star:before {
    content: "\f15d";
}
.flaticon-customer-service:before {
    content: "\f15e";
}
.flaticon-calling:before {
    content: "\f15f";
}
.flaticon-video-call:before {
    content: "\f160";
}
.flaticon-phone-2:before {
    content: "\f161";
}
.flaticon-phone-call-2:before {
    content: "\f162";
}
.flaticon-email-3:before {
    content: "\f163";
}
.flaticon-email-marketing:before {
    content: "\f164";
}
.flaticon-email-4:before {
    content: "\f165";
}
.flaticon-email-5:before {
    content: "\f166";
}
.flaticon-write-mail:before {
    content: "\f167";
}
.flaticon-open:before {
    content: "\f168";
}
.flaticon-business:before {
    content: "\f169";
}
.flaticon-instagram-1:before {
    content: "\f16a";
}
.flaticon-instagram-2:before {
    content: "\f16b";
}
.flaticon-pinterest:before {
    content: "\f16c";
}
.flaticon-pinterest-1:before {
    content: "\f16d";
}
.flaticon-pinterest-2:before {
    content: "\f16e";
}
.flaticon-home-1:before {
    content: "\f16f";
}
.flaticon-home-2:before {
    content: "\f170";
}
.flaticon-loan:before {
    content: "\f171";
}
.flaticon-home-3:before {
    content: "\f172";
}
.flaticon-home-4:before {
    content: "\f173";
}
.flaticon-right-arrow-4:before {
    content: "\f174";
}
.flaticon-curved-arrow:before {
    content: "\f175";
}
.flaticon-right-arrow-5:before {
    content: "\f176";
}
.flaticon-arrow-1:before {
    content: "\f177";
}
.flaticon-scribble:before {
    content: "\f178";
}
.flaticon-curved-arrow-with-broken-line:before {
    content: "\f179";
}
.flaticon-arrow-2:before {
    content: "\f17a";
}
.flaticon-left-arrow-1:before {
    content: "\f17b";
}
.flaticon-left-arrow-2:before {
    content: "\f17c";
}
.flaticon-hamburger:before {
    content: "\f17d";
}
.flaticon-menu:before {
    content: "\f17e";
}
.flaticon-menu-1:before {
    content: "\f17f";
}
.flaticon-hamburger-1:before {
    content: "\f180";
}
.flaticon-close:before {
    content: "\f181";
}
.flaticon-cancel:before {
    content: "\f182";
}
.flaticon-cancel-1:before {
    content: "\f183";
}
.flaticon-cancel-2:before {
    content: "\f184";
}
.flaticon-printing:before {
    content: "\f185";
}
.flaticon-file:before {
    content: "\f186";
}
.flaticon-file-1:before {
    content: "\f187";
}
.flaticon-arrow-3:before {
    content: "\f188";
}
.flaticon-down-arrow-3:before {
    content: "\f189";
}
.flaticon-plus:before {
    content: "\f18a";
}
.flaticon-globe:before {
    content: "\f18b";
}
.flaticon-world-wide-web:before {
    content: "\f18c";
}
.flaticon-bullet-point:before {
    content: "\f18d";
}
.flaticon-reels:before {
    content: "\f18e";
}
.flaticon-hamburger-2:before {
    content: "\f18f";
}
.flaticon-menu-2:before {
    content: "\f190";
}
.flaticon-menu-3:before {
    content: "\f191";
}
.flaticon-open-menu:before {
    content: "\f192";
}
.flaticon-waffle-menu:before {
    content: "\f193";
}
.flaticon-main-menu:before {
    content: "\f194";
}
.flaticon-close-1:before {
    content: "\f195";
}
.flaticon-close-button:before {
    content: "\f196";
}
.flaticon-delete:before {
    content: "\f197";
}
.flaticon-close-button-1:before {
    content: "\f198";
}
.flaticon-delete-1:before {
    content: "\f199";
}
.flaticon-cross:before {
    content: "\f19a";
}
.flaticon-menu-4:before {
    content: "\f19b";
}
.flaticon-hamburger-3:before {
    content: "\f19c";
}
.flaticon-hamburger-4:before {
    content: "\f19d";
}
.flaticon-menu-5:before {
    content: "\f19e";
}
.flaticon-alignment:before {
    content: "\f19f";
}
.flaticon-star-1:before {
    content: "\f1a0";
}
.flaticon-pointed-star:before {
    content: "\f1a1";
}
.flaticon-twitter-1:before {
    content: "\f1a2";
}
.flaticon-social-media:before {
    content: "\f1a3";
}
.flaticon-twitter-2:before {
    content: "\f1a4";
}
.flaticon-right-arrow-6:before {
    content: "\f1a5";
}
.flaticon-right-down:before {
    content: "\f1a6";
}
.flaticon-telephone-call:before {
    content: "\f1a7";
}
.flaticon-phone-call-3:before {
    content: "\f1a8";
}
.flaticon-phone-call-4:before {
    content: "\f1a9";
}
.flaticon-telephone-call-1:before {
    content: "\f1aa";
}
.flaticon-telephone-6:before {
    content: "\f1ab";
}
.flaticon-phone-3:before {
    content: "\f1ac";
}
.flaticon-quote:before {
    content: "\f1ad";
}
.flaticon-quote-1:before {
    content: "\f1ae";
}
.flaticon-quote-2:before {
    content: "\f1af";
}
.flaticon-quote-3:before {
    content: "\f1b0";
}
.flaticon-right-2:before {
    content: "\f1b1";
}
.flaticon-left:before {
    content: "\f1b2";
}
.flaticon-text:before {
    content: "\f1b3";
}
.flaticon-left-quote:before {
    content: "\f1b4";
}
.flaticon-dialog:before {
    content: "\f1b5";
}
.flaticon-right-quote:before {
    content: "\f1b6";
}
.flaticon-facebook-app-symbol:before {
    content: "\f1b7";
}
.flaticon-facebook-3:before {
    content: "\f1b8";
}
.flaticon-facebook-4:before {
    content: "\f1b9";
}
.flaticon-facebook-5:before {
    content: "\f1ba";
}
.flaticon-instagram-3:before {
    content: "\f1bb";
}
.flaticon-social-media-1:before {
    content: "\f1bc";
}
.flaticon-instagram-logo:before {
    content: "\f1bd";
}
.flaticon-instagram-4:before {
    content: "\f1be";
}
.flaticon-youtube-2:before {
    content: "\f1bf";
}
.flaticon-youtube-3:before {
    content: "\f1c0";
}
.flaticon-youtube-4:before {
    content: "\f1c1";
}
.flaticon-play:before {
    content: "\f1c2";
}
.flaticon-youtube-5:before {
    content: "\f1c3";
}
.flaticon-next-2:before {
    content: "\f1c4";
}
.flaticon-right-arrows:before {
    content: "\f1c5";
}
.flaticon-right-arrow-7:before {
    content: "\f1c6";
}
.flaticon-arrow-4:before {
    content: "\f1c7";
}
.flaticon-down-right:before {
    content: "\f1c8";
}
.flaticon-right-arrow-8:before {
    content: "\f1c9";
}
.flaticon-people:before {
    content: "\f1ca";
}
.flaticon-group:before {
    content: "\f1cb";
}
.flaticon-profile:before {
    content: "\f1cc";
}
.flaticon-people-1:before {
    content: "\f1cd";
}
.flaticon-minus:before {
    content: "\f1ce";
}
.flaticon-add:before {
    content: "\f1cf";
}