    #custom-search-form {
		
        margin:0;
        margin-top: 8px;
        padding: 0;
		
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-top: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-bottom: 3px;
        padding-left: 4px \9;
		border:1px solid #9d2527;
		border-radius:15px !important;
	    width: 250px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        /*margin-top: 2px;*/
        position: relative;
        left: -40px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }   
    .search-query:focus{
        width: 400px;
    }   

	
	#custom-search-form .fa-search{
		color:#211157;
		font-size: 18px;
		
	}
	
	#custom-search-form input{
		background-color:#fff;
	}
	
