#rev_slider_3_1_wrapper { height: 332.182px; }
#rev_slider_3_1_wrapper .uranus.tparrows { width: 50px; height: 50px; background: rgba(255, 255, 255, 0); }
#rev_slider_3_1_wrapper .uranus.tparrows::before { width: 50px; height: 50px; line-height: 50px; font-size: 40px; transition: 0.3s; }
#rev_slider_3_1_wrapper .uranus.tparrows:hover::before { opacity: 0.75; }
.fluid-width-video-wrapper { width: 100%; position: relative; padding: 0px; }
.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.whmtopcatrs { opacity: 0; }
.typed-cursor { opacity: 1; }
.typed-cursor.typed-cursor--blink { animation: 0.7s ease 0s infinite normal none running typedjsBlink; }
@keyframes typedjsBlink { 
  50% { opacity: 0; }
}
@-webkit-keyframes typedjsBlink { 
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
