.so-widget-sow-button-wire-956c0e84e272-1391 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-wire-956c0e84e272-1391 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-wire-956c0e84e272-1391 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780px) {
  .so-widget-sow-button-wire-956c0e84e272-1391 .ow-button-base.ow-button-align-center {
    text-align: center;
  }
  .so-widget-sow-button-wire-956c0e84e272-1391 .ow-button-base.ow-button-align-center.ow-button-align-justify .sowb-button {
    display: inline-block;
  }
}
.so-widget-sow-button-wire-956c0e84e272-1391 .ow-button-base .sowb-button {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.25em 0.25em 0.25em 0.25em;
  -moz-border-radius: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  background: transparent;
  border: 2px solid #7a1313;
  color: #7a1313 !important;
  font-size: 1.15em;
  
  padding: 1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  padding-inline: 2em;
}
.so-widget-sow-button-wire-956c0e84e272-1391 .ow-button-base .sowb-button.ow-button-hover:active,
.so-widget-sow-button-wire-956c0e84e272-1391 .ow-button-base .sowb-button.ow-button-hover:hover {
  background: #7a1313;
  border-color: #7a1313;
  color: #ffffff !important;
}