.cloud-search-mobile { align-items: center; background: rgba(245, 245, 245, 0.95); border-bottom: 1px solid rgb(232, 232, 232); display: flex; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; left: 0px; position: fixed; top: 0px; width: 100%; z-index: 2147483647; }
@supports (backdrop-filter:blur(15px)) {
  .cloud-search-mobile { backdrop-filter: blur(15px); background: rgba(245, 245, 245, 0.6); }
}
.cloud-search-mobile--rtl { direction: rtl; }
.cloud-search-mobile form { margin: 0px; padding: 0px; }
.cloud-search-mobile .cloud-search-mobile__input { flex-grow: 1; margin: 8px 10px; position: relative; }
.cloud-search-mobile .cloud-search-mobile__input input[type="search"], .cloud-search-mobile .cloud-search-mobile__input input[type="search"]:focus { backdrop-filter: blur(2px); background: rgba(128, 128, 128, 0.15); border: none; border-radius: 12px; box-shadow: none; box-sizing: border-box; color: rgb(51, 51, 51); font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; height: 44px; margin: 0px; min-height: 0px; outline: none; padding: 8px 0px 8px 40px; padding-inline: 40px 0px; width: 100%; }
.cloud-search-mobile .cloud-search-mobile__input input[type="search"]::placeholder, .cloud-search-mobile .cloud-search-mobile__input input[type="search"]:focus::placeholder { color: rgb(165, 165, 165); opacity: 1; }
.cloud-search-mobile .cloud-search-mobile__input input[type="search"]::-webkit-search-cancel-button, .cloud-search-mobile .cloud-search-mobile__input input[type="search"]:focus::-webkit-search-cancel-button { appearance: none; }
.cloud-search-mobile .cloud-search-mobile__input::after { background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 50 50%27%3E%3Cpath d=%27M21 3C11.602 3 4 10.602 4 20s7.602 17 17 17c3.355 0 6.46-.984 9.094-2.656l12.281 12.281 4.25-4.25L34.5 30.281C36.68 27.421 38 23.88 38 20c0-9.398-7.602-17-17-17Zm0 4c7.2 0 13 5.8 13 13s-5.8 13-13 13S8 27.2 8 20 13.8 7 21 7Z%27 style=%27fill:%23666%27/%3E%3C/svg%3E") 50% center no-repeat; content: " "; display: block; height: 18px; inset-inline-start: 11px; position: absolute; top: 13px; width: 18px; z-index: 1; }
.cloud-search-mobile .cloud-search-mobile__cancel, .cloud-search-mobile .cloud-search-mobile__cancel:active, .cloud-search-mobile .cloud-search-mobile__cancel:hover { color: rgb(0, 122, 255); cursor: pointer; font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; padding: 13px 10px 12px 0px; padding-inline: 0px 10px; text-decoration: none; }
.cloud-search-mobile-backdrop { background: rgba(199, 199, 199, 0.9); height: 100vh; left: 0px; position: fixed; top: 0px; width: 100%; z-index: 2147483646; }
@supports (backdrop-filter:blur(15px)) {
  .cloud-search-mobile-backdrop { backdrop-filter: blur(15px); background: rgba(245, 245, 245, 0.6); }
}
.cloud-search-mobile-backdrop:empty { display: block; }
@font-face { font-family: Poppins; font-weight: 400; font-style: normal; font-display: swap; src: url("//skyblue.in/cdn/fonts/poppins/poppins_n4.0ba78fa5af9b0e1a374041b3ceaadf0a43b41362.woff2") format("woff2"), url("//skyblue.in/cdn/fonts/poppins/poppins_n4.214741a72ff2596839fc9760ee7a770386cf16ca.woff") format("woff"); }
@font-face { font-family: Poppins; font-weight: 600; font-style: normal; font-display: swap; src: url("//skyblue.in/cdn/fonts/poppins/poppins_n6.aa29d4918bc243723d56b59572e18228ed0786f6.woff2") format("woff2"), url("//skyblue.in/cdn/fonts/poppins/poppins_n6.5f815d845fe073750885d5b7e619ee00e8111208.woff") format("woff"); }
@font-face { font-family: Poppins; font-weight: 400; font-style: italic; font-display: swap; src: url("//skyblue.in/cdn/fonts/poppins/poppins_i4.846ad1e22474f856bd6b81ba4585a60799a9f5d2.woff2") format("woff2"), url("//skyblue.in/cdn/fonts/poppins/poppins_i4.56b43284e8b52fc64c1fd271f289a39e8477e9ec.woff") format("woff"); }
@font-face { font-family: Poppins; font-weight: 600; font-style: italic; font-display: swap; src: url("//skyblue.in/cdn/fonts/poppins/poppins_i6.bb8044d6203f492888d626dafda3c2999253e8e9.woff2") format("woff2"), url("//skyblue.in/cdn/fonts/poppins/poppins_i6.e233dec1a61b1e7dead9f920159eda42280a02c3.woff") format("woff"); }
:root { --typeHeaderPrimary: "system_ui"; --typeHeaderFallback: -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; --typeHeaderSize: 36px; --typeHeaderWeight: 400; --typeHeaderLineHeight: 1.2; --typeHeaderSpacing: 0.0em; --typeBasePrimary: Poppins; --typeBaseFallback: sans-serif; --typeBaseSize: 16px; --typeBaseWeight: 400; --typeBaseSpacing: 0.025em; --typeBaseLineHeight: 1.5; --colorSmallImageBg: #ffffff; --colorSmallImageBgDark: #f7f7f7; --colorLargeImageBg: #e7e7e7; --colorLargeImageBgLight: #ffffff; --iconWeight: 4px; --iconLinecaps: round; --buttonRadius: 50px; --btnPadding: 11px 25px; --roundness: 15px; --gridThickness: 0px; --productTileMargin: 10%; --collectionTileMargin: 0%; --swatchSize: 40px; }
@media screen and (max-width: 768px) {
  :root { --typeBaseSize: 14px; --roundness: 15px; --btnPadding: 9px 25px; }
}
.homepage-slideshow .slick-slide .bss_pl_img { visibility: hidden !important; }
.ecom-section > div.core__row--columns { max-width: 1200px; }
.ecom-column > div.core__column--wrapper { padding: 20px; }
div.core__blocks--body > div.ecom-block.elmspace:not(:first-child) { margin-top: 20px; }
:root { --ecom-global-colors-primary: #ffffff; --ecom-global-colors-secondary: #ffffff; --ecom-global-colors-text: #ffffff; --ecom-global-colors-accent: #ffffff; --ecom-global-colors-YPNLohQ4: #003399; --ecom-global-typography-T79uD1yJ-font-size: 12px; --ecom-global-typography-T79uD1yJ-text-decoration: none; --ecom-global-typography-T79uD1yJ-font-weight: 500; --ecom-global-typography-T79uD1yJ-line-height: 1.3em; --ecom-global-typography-T79uD1yJ-letter-spacing: 0.7px; --ecom-global-typography-T79uD1yJ-font-family: Roboto; --ecom-global-typography-T79uD1yJ-font-style: normal; --ecom-global-typography-9gnbzn7k-font-weight: 500; --ecom-global-typography-9gnbzn7k-font-size: 17px; --ecom-global-typography-9gnbzn7k-text-transform: none; --ecom-global-typography-9gnbzn7k-font-style: normal; --ecom-global-typography-9gnbzn7k-text-decoration: none; --ecom-global-typography-9gnbzn7k-font-family: Roboto; --ecom-global-typography-9gnbzn7k-line-height: 1.2em; --ecom-global-typography-9gnbzn7k-letter-spacing: 0px; }
.ecom-animation { opacity: 0; }
.ecom-animation.animate, .ecom-animation.ecom-animated { opacity: 1; }
.ecom-cart-popup { display: grid; position: fixed; inset: 0px; z-index: 9999999; place-content: center; padding: 5px; place-items: center; }
.ecom-cart-popup::before { content: " "; position: absolute; background: rgba(229, 229, 229, 0.7); inset: 0px; }
.ecom-ajax-loading { cursor: not-allowed; pointer-events: none; opacity: 0.6; }
#ecom-toast { visibility: hidden; max-width: 50px; height: 60px; margin: auto; background-color: rgb(51, 51, 51); color: rgb(255, 255, 255); text-align: center; border-radius: 2px; position: fixed; z-index: 1; left: 0px; right: 0px; bottom: 30px; font-size: 17px; display: grid; grid-template-columns: 50px auto; place-items: center start; place-content: center start; }
#ecom-toast.ecom-toast-show { visibility: visible; animation: 0.5s ease 0s 1 normal none running ecomFadein, 0.5s ease 0.5s 1 normal none running ecomExpand, 3s ease 1s 1 normal none running ecomStay, 0.5s ease 4s 1 normal none running ecomShrink, 0.5s ease 4.5s 1 normal none running ecomFadeout; }
#ecom-toast #ecom-toast-icon { width: 50px; height: 100%; box-sizing: border-box; background-color: rgb(17, 17, 17); color: rgb(255, 255, 255); padding: 5px; }
#ecom-toast .ecom-toast-icon-svg { width: 100%; height: 100%; position: relative; vertical-align: middle; margin: auto; text-align: center; }
#ecom-toast #ecom-toast-desc { color: rgb(255, 255, 255); padding: 16px; overflow: hidden; white-space: nowrap; }
@media (max-width: 768px) {
  #ecom-toast #ecom-toast-desc { white-space: normal; min-width: 250px; }
  #ecom-toast { height: auto; min-height: 60px; }
}
.ecom__column-full-height { height: 100%; }
@keyframes ecomFadein { 
  0% { bottom: 0px; opacity: 0; }
  100% { bottom: 30px; opacity: 1; }
}
@keyframes ecomExpand { 
  0% { min-width: 50px; }
  100% { min-width: var(--ecom-max-width); }
}
@keyframes ecomStay { 
  0% { min-width: var(--ecom-max-width); }
  100% { min-width: var(--ecom-max-width); }
}
@keyframes ecomShrink { 
  0% { min-width: var(--ecom-max-width); }
  100% { min-width: 50px; }
}
@keyframes ecomFadeout { 
  0% { bottom: 30px; opacity: 1; }
  100% { bottom: 60px; opacity: 0; }
}
.ecom-quickview .ecom-animation { opacity: 1; }
.ecom-quickview__wrapper { opacity: 0; display: none; pointer-events: none; }
.ecom-quickview__wrapper.ecom-open { position: fixed; inset: 0px; display: block; pointer-events: auto; z-index: 100000; backface-visibility: hidden; opacity: 1; transition: 0.1s; outline: 0px !important; }
.ecom-quickview__container { text-align: center; position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; padding: 0px 8px; box-sizing: border-box; opacity: 0; background-color: rgba(0, 0, 0, 0.8); transition: opacity 0.1s; }
.ecom-quickview__container::before { content: ""; display: inline-block; height: 100%; vertical-align: middle; }
.ecom-quickview__wrapper.ecom-display .ecom-quickview__content { visibility: visible; opacity: 1; transform: none; }
.ecom-quickview__content { position: relative; display: inline-block; opacity: 0; visibility: hidden; transition: transform 0.1s, opacity 0.1s; transform: translateX(-100px); }
.ecom-quickview__content-inner { position: relative; display: inline-block; vertical-align: middle; margin: 0px auto; text-align: left; z-index: 999; overflow-y: auto; max-height: 80vh; }
.ecom-quickview__content-data > .shopify-section { margin: 0px auto; max-width: 980px; overflow: hidden; position: relative; background-color: rgb(255, 255, 255); opacity: 0; }
.ecom-quickview__wrapper.ecom-display .ecom-quickview__content-data > .shopify-section { opacity: 1; transform: none; }
.ecom-quickview__wrapper.ecom-display .ecom-quickview__container { opacity: 1; }
.ecom-quickview__wrapper.ecom-remove #shopify-section-ecom-default-template-quickview { opacity: 0; transform: translateX(100px); }
.ecom-quickview__close-btn { top: 0px; right: 0px; transform: none; background-color: transparent; color: rgb(0, 0, 0); opacity: 0; width: 40px; height: 40px; transition: 0.25s; z-index: 9999; stroke: rgb(255, 255, 255); position: fixed !important; }
.ecom-quickview__wrapper.ecom-display .ecom-quickview__close-btn { opacity: 1; }
.ecom-quickview__close-btn:hover { cursor: pointer; }
@media screen and (max-width: 1024px) {
  .ecom-quickview__content { position: absolute; inset: 0px; margin: 50px 15px; display: flex; }
  .ecom-quickview__close-btn { right: 0px; }
}
.ecom-toast-icon-info { display: none; }
.ecom-toast-error .ecom-toast-icon-info { display: inline !important; }
.ecom-toast-error .ecom-toast-icon-success { display: none !important; }
.ecom-toast-icon-success { fill: rgb(255, 255, 255); width: 35px; }
#AnnouncementSlider .flickity-viewport { height: 0px; }
#AnnouncementSlider .flickity-viewport { height: 0px; }
@font-face { font-family: GTStandard-M; src: url("https://cdn.shopify.com/shop-assets/static_uploads/shoplift/GTStandard-MRegular.woff2") format("woff2"); font-style: normal; font-weight: 450; font-display: swap; }
@font-face { font-family: GTStandard-M; src: url("https://cdn.shopify.com/shop-assets/static_uploads/shoplift/GTStandard-MMedium.woff2") format("woff2"); font-style: normal; font-weight: 500; font-display: swap; }
@font-face { font-family: GTStandard-M; src: url("https://cdn.shopify.com/shop-assets/static_uploads/shoplift/GTStandard-MSemibold.woff2") format("woff2"); font-style: normal; font-weight: 600; font-display: swap; }
.unbookmarked { color: rgb(0, 0, 0) !important; }
.unbookmarked:hover { color: rgb(255, 255, 255); }
.bookmarked { color: rgb(255, 255, 255); }
.bookmarked:hover { color: rgb(255, 255, 255); }
.tooltip-store-theme { border-radius: 5px !important; border: 1px solid rgb(0, 51, 153) !important; background: rgb(0, 51, 153) !important; color: rgb(255, 255, 255) !important; }
.tooltipster-content a { color: rgb(255, 255, 255); text-decoration: underline; }
.tooltipster-content a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
.tooltipster-content a:visited { color: rgb(255, 255, 255); text-decoration: underline; }
.tooltip-store-theme .tooltipster-content { font-family: inherit !important; font-size: 12px !important; }
.smartwishlist { cursor: pointer; }
.smartwishlist { font-size: 19px !important; }
@keyframes ht_image_fit_slider { 
  0% { background-position: center top; }
  100% { background-position: center bottom; }
}
.site-nav__link { font-size: 14px; }
.site-nav__link { text-transform: uppercase; letter-spacing: 0.2em; }
.site-header, .site-header__element--sub { box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 25px; }
.is-light .site-header, .is-light .site-header__element--sub { box-shadow: none; }
.site-header__search-form { border: 1px solid rgb(232, 232, 225); }
.header-item--logo, [data-layout="left-center"] .header-item--logo, [data-layout="left-center"] .header-item--icons { flex: 0 1 200px; }
@media only screen and (min-width: 769px) {
  .header-item--logo, [data-layout="left-center"] .header-item--logo, [data-layout="left-center"] .header-item--icons { flex: 0 0 190px; }
}
.site-header__logo a { width: 200px; }
.is-light .site-header__logo .logo--inverted { width: 200px; }
@media only screen and (min-width: 769px) {
  .site-header__logo a { width: 190px; }
  .is-light .site-header__logo .logo--inverted { width: 190px; }
}
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-miterlimit: 10; stroke-width: 2px; }
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-miterlimit: 10; stroke-width: 2px; }
.st0 { fill: rgb(0, 0, 0) !important; }
.st0 { fill: rgb(0, 0, 0) !important; }
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-width: 2px; }
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-miterlimit: 10; stroke-width: 2px; }
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-miterlimit: 10; stroke-width: 2px; }
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-miterlimit: 10; stroke-width: 2px; }
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-miterlimit: 10; stroke-width: 2px; }
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-miterlimit: 10; stroke-width: 2px; }
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-miterlimit: 10; stroke-width: 2px; }
#shopify-section-header a#HeaderCartTrigger { display: none; }
.hero-natural--template--20233437216998__efb07822-2246-40ad-be10-7d44691f196e { height: 0px; padding-bottom: 31%; }
@media screen and (max-width: 768px) {
  .hero-natural--template--20233437216998__efb07822-2246-40ad-be10-7d44691f196e { padding-bottom: 31%; }
}
.slideshow__slide--template--17101662388454__efb07822-2246-40ad-be10-7d44691f196e-hero-2 .hero__title { font-size: 30.1px; }
@media only screen and (min-width: 769px) {
  .slideshow__slide--template--17101662388454__efb07822-2246-40ad-be10-7d44691f196e-hero-2 .hero__title { font-size: 70px; }
}
.slideshow__slide--template--17101662388454__efb07822-2246-40ad-be10-7d44691f196e-hero-2 .btn { border: none; background: rgb(255, 255, 255) !important; color: rgb(0, 0, 0) !important; }
.slideshow__slide--template--17101662388454__efb07822-2246-40ad-be10-7d44691f196e-hero-1 .hero__title { font-size: 30.1px; }
@media only screen and (min-width: 769px) {
  .slideshow__slide--template--17101662388454__efb07822-2246-40ad-be10-7d44691f196e-hero-1 .hero__title { font-size: 70px; }
}
.slideshow__slide--template--17101662388454__efb07822-2246-40ad-be10-7d44691f196e-hero-1 .btn { border: none; background: rgb(255, 255, 255) !important; color: rgb(0, 0, 0) !important; }
div#shopify-section-1499789718857 .new-grid .grid-item a.collection-item .collection-image-wrap, div#shopify-section-1499789718857 .new-grid .grid-item a.collection-item .collection-image-wrap img { border-radius: 50%; overflow: hidden; }
div#shopify-section-1499789718857 .new-grid .grid-item a.collection-item .collection-image-wrap, div#shopify-section-1499789718857 .new-grid .grid-item a.collection-item .collection-image-wrap img { border-radius: 50%; overflow: hidden; }
div#shopify-section-1499789718857 .new-grid .grid-item a.collection-item .collection-image-wrap, div#shopify-section-1499789718857 .new-grid .grid-item a.collection-item .collection-image-wrap img { border-radius: 50%; overflow: hidden; }
div#shopify-section-1499789718857 .new-grid .grid-item a.collection-item .collection-image-wrap, div#shopify-section-1499789718857 .new-grid .grid-item a.collection-item .collection-image-wrap img { border-radius: 50%; overflow: hidden; }
div#shopify-section-1499789718857 .new-grid .grid-item a.collection-item .collection-image-wrap, div#shopify-section-1499789718857 .new-grid .grid-item a.collection-item .collection-image-wrap img { border-radius: 50%; overflow: hidden; }
div#shopify-section-1499789718857 .new-grid .grid-item a.collection-item .collection-image-wrap, div#shopify-section-1499789718857 .new-grid .grid-item a.collection-item .collection-image-wrap img { border-radius: 50%; overflow: hidden; }
#shopify-section-template--20233437216998__featured_collection_piJGXe .medium-up--hide { display: block !important; }
#shopify-section-template--20233437216998__featured_collection_DaLpRx .medium-up--hide { display: block !important; }
#shopify-section-template--20233437216998__featured_collection_DaLpRx .grid-item .grid-item__meta .grid-item__meta-main .grid-product__title { overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; display: -webkit-box; -webkit-box-orient: vertical; white-space: normal; }
#shopify-section-template--20233437216998__featured_collection_kYteTC .medium-up--hide { display: block !important; }
#shopify-section-template--20233437216998__featured_collection_gQqKdg .medium-up--hide { display: block !important; }
#shopify-section-template--20233437216998__featured_collection_E7dHxg .medium-up--hide { display: block !important; }
#shopify-section-template--20233437216998__featured_collection_fhm6G8 .medium-up--hide { display: block !important; }
.icartShopifyCartContent { width: 100%; }
.st0 { fill: rgb(87, 87, 87); }
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-width: 2px; }
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-width: 2px; }
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-miterlimit: 10; stroke-width: 2px; }
.icart-item-review .looxRating .loox-icon { color: rgb(0, 0, 0); }
.icart-item-review .ruk_rating_snippet { color: rgb(0, 0, 0) !important; }
.icart-item-review .looxRating .loox-icon + span { display: none; }
.icartCouponCodeInvalid { color: rgb(255, 0, 0); }
.icart .icart-main .icart-recommendation-list-slider .slick-prev::before, .icart .icart-main .icart-recommendation-list-slider .slick-next::before { color: rgb(0, 51, 153); }
.icart-pg-variants-141367 select:focus { background-color: rgb(255, 255, 255); padding: 4px 18px 4px 8px !important; }
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-miterlimit: 10; stroke-width: 2px; }
.cls-1 { fill: none; stroke: rgb(0, 0, 0); stroke-miterlimit: 10; stroke-width: 2px; }
.cnvt_form_container { display: none !important; }
.site-header__element--top .header-layout .header-item--search { display: none !important; }
