input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { appearance: none; margin: 0px; }
::-webkit-scrollbar { display: none; }
input:focus, button:focus, .form-control:focus { outline: none; box-shadow: none; }
.center { position: absolute; top: 40%; left: 11%; transform: translate(-25%, -25%); width: 20%; background-color: rgb(255, 255, 255); border: 1px solid rgb(112, 112, 112); border-radius: 28px; padding: 60px; }
@media only screen and (min-width: 768px) {
  .centertext { margin: auto; width: 60%; padding: 10px; }
}
@media only screen and (max-width: 767px) {
  .mob { display: none; }
  .centertext { margin: 25% auto auto; width: 90%; padding: 10px; }
  .mobcenter { text-align: center; }
  .form_margin { margin-left: 10%; }
  .mobwidth { width: 90% !important; }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1000px) {
  .center { position: absolute; top: 45%; left: 9.8%; transform: translate(-25%, -25%); width: 24%; background-color: rgb(255, 255, 255); border: 1px solid rgb(112, 112, 112); border-radius: 28px; padding: 60px; }
}
@media screen and (min-device-width: 768px) {
  .abc { top: 50%; left: 50%; transform: translate(-50%, -50%); }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .pqr { width: 80%; display: block; margin: 0px auto; }
}
@media screen and (min-width: 992px) {
  .pqr { width: 60%; display: block; margin: 0px auto; }
}
