input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { appearance: none; margin: 0px; }
@media (max-width: 400px) {
  .imageclass { height: 100% !important; }
  .logoclass { margin-left: 102px !important; margin-top: 10px !important; }
}
:focus { outline: none; }
@media (max-width: 768px) {
  .imageclass { height: 47% !important; }
}
