@-webkit-keyframes chartjs-render-animation { 
  0% { opacity: 0.99; }
  100% { opacity: 1; }
}
@keyframes chartjs-render-animation { 
  0% { opacity: 0.99; }
  100% { opacity: 1; }
}
.chartjs-render-monitor { animation: 0.001s ease 0s 1 normal none running chartjs-render-animation; }
* { box-sizing: border-box; }
body { margin: 0px; font-family: "segoe ui"; }
.nav { width: 100%; background-color: rgb(77, 77, 77); position: relative; height: 50px !important; }
.nav > .nav-header { display: inline; }
.navbar { position: absolute !important; }
.nav > .nav-header > .nav-title { display: inline-block; font-size: 22px; color: rgb(0, 0, 0); padding: 10px; }
.nav > .nav-btn { display: none; }
.nav-links { display: none; }
.nav > #nav-check { display: none; }
@media only screen and (min-width: 100px) and (max-width: 1000px) {
  .nav { height: 100px !important; padding: 10px !important; }
  .navtopbar { display: none !important; }
  .logo { position: absolute; left: 50%; padding: 1px; font-size: 2.5rem; margin-top: -5px; }
  .userdetails { color: transparent !important; }
  .nav > .nav-btn { display: inline-block; position: absolute; right: 0px; top: 0px; }
  .nav > .nav-btn > label { display: inline-block; width: 50px; height: 50px; padding: 13px; background-color: rgb(89, 56, 37); margin-top: 20px; }
  .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label { background-color: rgb(89, 56, 37); margin-right: 10px; }
  .nav > .nav-btn > label > span { display: block; width: 25px; height: 10px; border-top: 2px solid rgb(238, 238, 238); }
  .nav > .nav-links { position: absolute; display: block; width: 100%; background-color: rgb(89, 56, 37); height: 0px; transition: 0.3s ease-in; overflow-y: hidden; top: 97px; right: 0px; color: rgb(255, 255, 255); line-height: 40px !important; padding-left: 25px !important; }
  .nav > .nav-links > a { display: block; width: 100%; color: white !important; }
  .nav > #nav-check:not(:checked) ~ .nav-links { height: 0px; }
  .nav > #nav-check:checked ~ .nav-links { height: calc(-50px + 88vh); overflow-y: auto; }
  .logo { position: absolute; left: 50%; padding: 1px; font-size: 2.5rem; margin-top: -5px; }
  .nav-dropdown { position: static; }
  .navbar-links { display: none !important; }
}
@media only screen and (min-width: 1001px) and (max-width: 2500px) {
  .nav { height: 100px !important; }
  .navtopbar1 { display: none !important; }
}
@media only screen and (min-width: 1001px) and (max-width: 1161px) {
  .navbar-links li.navbar-dropdown { position: relative; font-size: 17px !important; }
}
.logo { order: 1; font-size: 2.3rem; position: absolute; left: 0px; top: -15px; padding: 15px; }
.basket { width: 40px; height: 45px; border-radius: 5px; padding: 5px; margin-top: -10px; }
.nav { height: 15%; }
.nav-dropdown { position: absolute; display: none; z-index: 1; box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px; }
.navbar-links { list-style-type: none; display: flex; margin-left: 275px; }
.navbar-links li a { display: block; text-decoration: none; color: rgb(68, 68, 68); padding: 25px 15px; font-weight: 500; transition: 0.4s; }
.navbar-links li.navbar-dropdown { position: relative; font-size: 20px; }
.navbar-links li.navbar-dropdown:hover .dropdown { visibility: visible; opacity: 1; transform: translateY(0px); }
.navbar-links li.navbar-dropdown .dropdown { visibility: hidden; opacity: 0; position: absolute; padding: 20px 0px; top: 100%; transform: translateY(50px); left: 0px; width: 250px; background-color: rgb(239, 230, 221); box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; z-index: 111; transition: 0.4s; }
.navbar-links li.navbar-dropdown .dropdown a { padding-top: 10px; padding-bottom: 10px; font-weight: 400; }
.listdata:hover { background-color: white; }
#drop1:hover { background-color: white; }
.blog:hover { background-color: white; }
.recipe:hover { background-color: white; }
#drop2:hover { background-color: white; }
.blink { animation: 1s step-end 0s infinite normal none running blinker; }
a { text-decoration: none; color: unset; }
a { outline: none; }
@media only screen and (min-width: 1200px) {
  .freeship { right: 25%; }
}
@media only screen and (min-width: 1001px) and (max-width: 1199px) {
  .freeship { right: 15%; }
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { appearance: none; margin: 0px; }
.pseudo-class-demo:hover { background-color: rgb(89, 56, 37); color: white; border-radius: 20px; }
.slider { width: 100%; height: 25px; background: rgb(211, 211, 211); outline: none; opacity: 0.7; transition: opacity 0.2s; }
.slider:hover { opacity: 1; }
.slider::-webkit-slider-thumb { appearance: none; width: 25px; height: 25px; background: red; cursor: pointer; }
.range input { margin-top: 10%; transform: rotate(270deg); }
.switch { position: relative; display: inline-block; width: 30px; height: 15px; }
.switch input { opacity: 0; width: 0px; height: 0px; }
.slider { position: absolute; cursor: pointer; inset: 0px; background-color: rgb(255, 255, 255); }
.slider1 { position: absolute; cursor: pointer; inset: 0px; background-color: rgb(255, 255, 255); }
.slider::before { position: absolute; content: ""; height: 13px; width: 13px; left: 0px; bottom: 0px; background-color: rgb(220, 156, 19); }
.slider1::before { position: absolute; content: ""; height: 13px; width: 13px; left: 0px; bottom: 0px; background-color: rgb(156, 60, 26); }
input:checked + .slider { background-color: rgb(255, 255, 255); }
input:focus + .slider { box-shadow: rgb(255, 255, 255) 0px 0px 5px; }
input:checked + .slider::before { transform: translateX(16px); }
input:checked + .slider1::before { transform: translateX(16px); }
.slider.round { border-radius: 35px; border: 1px solid rgb(220, 156, 19); }
.slider1.round { border-radius: 35px; border: 1px solid rgb(156, 60, 26); }
.slider.round::before { border-radius: 50%; }
.slider1.round::before { border-radius: 50%; }
.addtocart { background-color: rgb(220, 156, 19); color: white; border: none; border-radius: 5px; padding: 10px 100px; }
.addtocartmob { background-color: rgb(66, 93, 39); color: white; border: none; border-radius: 10px; width: 71%; padding: 10px; }
.saverecipe { background-color: rgb(220, 156, 19); color: white; border: none; border-radius: 10px; margin-right: 30px; }
.scroll { overflow: scroll; height: 50%; }
.scroll2 { overflow: scroll; height: 90%; width: 100%; }
::-webkit-scrollbar { }
::-webkit-scrollbar-thumb { }
::-webkit-scrollbar-thumb { border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background-color: rgb(239, 230, 221); }
input[type="number"]::-webkit-inner-spin-button, input[type="nuber"]::-webkit-outer-spin-button { appearance: none; }
.loading-overlay { display: none; background: rgba(255, 255, 255, 0.7); position: fixed; inset: 0px; z-index: 9998; align-items: center; justify-content: center; }
.loading-overlay.is-active { display: flex; }
.loading-overlay.is-inactive { display: none; }
.abc { display: none; }
@media (min-width: 700px) {
  .pqr { display: none; }
}
@media only screen and (min-width: 100px) and (max-width: 1300px) {
  .incclass { width: 71% !important; margin-left: 96px !important; }
  .mobileview { width: 85% !important; }
  .incrclass { width: 78% !important; margin-left: 78px !important; }
  .addtocart { padding-left: 65px !important; padding-right: 54px !important; }
}
@media (max-width: 500px) {
  .countclass { width: 35% !important; }
  .countcard { width: 80% !important; }
  .buttonclass { width: 30%; margin-right: -24px; }
  .hide { display: none; }
  .minus { padding-top: 5px !important; }
  .plus { padding-top: 5px !important; padding-right: 10px !important; }
  .mob1 { height: 35px !important; }
  .trash { margin-top: 7px !important; }
}
@media (max-width: 768px) {
  .countclass { width: 35% !important; }
  .incrclass { width: 58% !important; margin-left: 127px !important; }
  .countcard { width: 80% !important; }
  .buttonclass { width: 30%; margin-right: -24px; }
  .hide { display: none; }
  .minus { padding-top: 5px !important; }
  .plus { padding-top: 5px !important; padding-right: 10px !important; }
  .mob1 { height: 35px !important; }
  .trash { margin-top: 7px !important; }
}
@media (max-width: 920px) {
  .resclass { width: 40% !important; }
}
@media (max-width: 892px) {
  .resclass { width: 46% !important; }
}
@media (max-width: 699px) {
  .parafontsize { margin-top: 6px; font-size: 25px !important; margin-left: 10px !important; }
  .imagewidth { width: 35px !important; height: 35px !important; }
  .hghtdiv { padding: 20% !important; }
}
@media (max-width: 400px) {
  .incclass { width: 89% !important; margin-left: 63px !important; }
  .mdclass { margin-right: 23px !important; margin-left: 82px !important; }
  .countclass { width: 35% !important; }
  .countcard { width: 80% !important; }
  .buttonclass { width: 30%; margin-right: -24px; }
  .hide { display: none; }
  .minus { padding-top: 5px !important; }
  .plus { padding-top: 5px !important; padding-right: 10px !important; }
  .mob1 { height: 35px !important; width: 50% !important; }
  .trash { margin-top: 7px !important; }
  .num { padding-top: 5px !important; padding-left: 10px !important; }
  .mobileclass { display: none; }
  .incrclass { width: 89% !important; margin-left: 63px !important; }
  .mobadclass { margin-right: 9px !important; margin-left: 80px !important; }
  .mobclss { margin-left: 75px !important; margin-right: 0px !important; }
}
@media (max-width: 851px) {
  .mobclss { margin-left: 82px !important; margin-right: -22px !important; }
  .mobadclass { margin-right: 25px; margin-left: 108px; }
  .mobileclass { display: none; }
}
.page-header { text-align: center; font-size: 0.8em; font-weight: normal; margin: 30px 0px; }
#pagination { margin: 0px; padding: 0px; text-align: center; }
#pagination li { display: inline; }
#pagination li a { display: inline-block; text-decoration: none; padding: 5px 10px; color: rgb(0, 0, 0); }
#pagination li a { border-radius: 5px; transition: background-color 0.3s; }
#pagination li a.active { background-color: rgb(89, 56, 37); color: rgb(255, 255, 255); }
#pagination li a:hover:not(.active) { background-color: rgb(221, 221, 221); }
.row { margin-left: 0px !important; margin-right: 0px !important; }
.userdetails { padding-left: 30px; }
input[type="text1"] { background: transparent; border: none; }
.carousel-indicators li { width: 5px; height: 5px; border-radius: 100%; margin-top: 80px; }
#overlay { position: fixed; display: none; width: 100%; height: 100%; inset: 0px; background-color: rgba(0, 0, 0, 0.5); z-index: 2; cursor: pointer; }
#text { position: absolute; top: 50%; left: 50%; font-size: 50px; color: white; transform: translate(-50%, -50%); }
.discover { color: rgb(152, 95, 63); }
.addclass { width: 155px !important; }
.inclass { width: 120px !important; }
textarea:focus, input:focus { outline: none; }
.float { position: fixed; width: 60px; height: 60px; bottom: 20px; right: 20px; background-color: rgb(156, 60, 26); color: rgb(255, 255, 255); border-radius: 50px; text-align: center; font-size: 30px; box-shadow: rgb(153, 153, 153) 2px 2px 3px; z-index: 100; }
.my-float { margin-top: 15px; margin-left: 3px; color: rgb(255, 255, 255); }
.footer-top { background-color: rgb(89, 56, 37); padding-top: 35px; }
#footer { background-color: rgb(89, 56, 37); padding-bottom: 35px; }
a, a label { cursor: pointer; }
a { color: white; }
.float { position: fixed; width: 60px; height: 60px; bottom: 20px; right: 20px; background-color: rgb(156, 60, 26); color: rgb(255, 255, 255); border-radius: 50px; text-align: center; font-size: 30px; box-shadow: rgb(153, 153, 153) 2px 2px 3px; z-index: 100; }
.my-float { margin-top: 15px; margin-left: 3px; color: rgb(255, 255, 255); }
a img { border: none; outline: none; }
a { text-decoration: none; border: none; }
@media (max-width: 500px) {
  .stores { margin: 10px; }
}
.stores { height: 50px; object-fit: cover; border: none; outline: none; border-radius: 15px; }
