img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px; }
img.wp-smiley, img.emoji { display: inline !important; border: none !important; box-shadow: none !important; height: 1em !important; width: 1em !important; margin: 0px 0.07em !important; vertical-align: -0.1em !important; background: none !important; padding: 0px !important; }
img#wpstats { display: none; }
.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * { background-image: none !important; }
@media screen and (max-height: 1024px) {
  .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * { background-image: none !important; }
}
@media screen and (max-height: 640px) {
  .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * { background-image: none !important; }
}
#chaty-widget-0 .Whatsapp-channel .color-element { fill: rgb(73, 230, 112); color: rgb(73, 230, 112); }
#chaty-widget-0 .channel-icon-Whatsapp .color-element { fill: rgb(73, 230, 112); color: rgb(73, 230, 112); }
#chaty-widget-0 .Whatsapp-channel .chaty-custom-icon { background-color: rgb(73, 230, 112); }
#chaty-widget-0 .Whatsapp-channel .chaty-svg { background-color: rgb(73, 230, 112); }
#chaty-widget-0 .channel-icon-Whatsapp .chaty-svg { background-color: rgb(73, 230, 112); }
#chaty-widget-0 .chaty-channel-list .chaty-channel { width: 54px; height: 54px; }
#chaty-widget-0 .chaty-channel-list .chaty-channel > a { width: 54px; height: 54px; }
#chaty-widget-0 .chaty-channel-list .chaty-channel > a .chaty-custom-icon { display: block; width: 54px; height: 54px; line-height: 54px; font-size: 27px; }
#chaty-widget-0 .chaty-channel-list .chaty-channel button { width: 54px; height: 54px; margin: 0px; padding: 0px; outline: none; border-radius: 50%; }
#chaty-widget-0 .chaty-channel-list .chaty-channel .chaty-svg { width: 54px; height: 54px; }
#chaty-widget-0 .chaty-channel-list .chaty-channel .chaty-svg img { width: 54px; height: 54px; }
#chaty-widget-0 .chaty-channel-list .chaty-channel span.chaty-icon { width: 54px; height: 54px; }
#chaty-widget-0 .chaty-channel-list .chaty-channel a { width: 54px; height: 54px; }
#chaty-widget-0 .chaty-channel-list .chaty-channel .chaty-svg .chaty-custom-channel-icon { width: 54px; height: 54px; line-height: 54px; display: block; font-size: 27px; }
#chaty-widget-0 .chaty-i-trigger .chaty-cta-button { background-color: rgb(168, 134, 205); }
#chaty-widget-0 .chaty-i-trigger .chaty-cta-button button { background-color: rgb(168, 134, 205); }
#chaty-widget-0 .chaty-i-trigger .chaty-channel { width: 54px; height: 54px; }
#chaty-widget-0 .chaty-i-trigger .chaty-channel > a { width: 54px; height: 54px; }
#chaty-widget-0 .chaty-i-trigger .chaty-channel > a .chaty-custom-icon { display: block; width: 54px; height: 54px; line-height: 54px; font-size: 27px; }
#chaty-widget-0 .chaty-i-trigger .chaty-channel button { width: 54px; height: 54px; margin: 0px; padding: 0px; outline: none; border-radius: 50%; }
#chaty-widget-0 .chaty-i-trigger .chaty-channel .chaty-svg { width: 54px; height: 54px; }
#chaty-widget-0 .chaty-i-trigger .chaty-channel .chaty-svg img { width: 54px; height: 54px; }
#chaty-widget-0 .chaty-i-trigger .chaty-channel span.chaty-icon { width: 54px; height: 54px; }
#chaty-widget-0 .chaty-i-trigger .chaty-channel a { width: 54px; height: 54px; }
#chaty-widget-0 .chaty-i-trigger .chaty-channel .chaty-svg .chaty-custom-channel-icon { width: 54px; height: 54px; line-height: 54px; display: block; font-size: 27px; }
#chaty-widget-0 .chaty-i-trigger .ch-pending-msg { background-color: rgb(221, 0, 0); color: rgb(255, 255, 255); }
#chaty-widget-0 .chaty-i-trigger .chaty-channel .chaty-svg .widget-fa-icon { line-height: 54px; font-size: 27px; }
#chaty-widget-0 .chaty-channel-list { height: 62px; }
#chaty-widget-0 .chaty-channel-list { width: 62px; }
#chaty-widget-0 .chaty-open .chaty-channel-list .chaty-channel:nth-child(1) { transform: translateY(-62px); }
#chaty-widget-0 .chaty-open.above-chaty.has-chatway .chaty-channel-list .chaty-channel:nth-child(1) { transform: translateY(-124px); }
#chaty-widget-0 .chaty-open .chaty-channel-list .chaty-channel:nth-child(2) { transform: translateY(0px); }
#chaty-widget-0 .chaty-open.above-chaty.has-chatway .chaty-channel-list .chaty-channel:nth-child(2) { transform: translateY(-62px); }
#chaty-widget-0 .chaty-open .chaty-channel-list .chaty-channel:nth-child(1) { transform: translateY(-62px); }
#chaty-widget-0 .chaty-open .chaty-channel-list .chaty-channel:nth-child(2) { transform: translateY(0px); }
#chaty-widget-0 .chaty-widget { bottom: 25px; }
#chaty-widget-0 .chaty-widget { right: 25px; left: auto; }
.chaty-outer-forms.pos-right.chaty-form-0 { right: 25px; left: auto; }
.chaty-outer-forms.active.chaty-form-0 { transform: translateY(-94px); }
#chaty-widget-0.chaty:not(.form-open) .chaty-widget.chaty-open + .chaty-chat-view { transform: translateY(-94px); }
#chaty-widget-0 .chaty-tooltip::after { background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); }
#chaty-widget-0 .chaty-tooltip.pos-top::before { border-top-color: rgb(255, 255, 255); }
#chaty-widget-0 .chaty-tooltip.pos-left::before { border-left-color: rgb(255, 255, 255); }
#chaty-widget-0 .chaty-tooltip.pos-right::before { border-right-color: rgb(255, 255, 255); }
#chaty-widget-0 .on-hover-text { background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); }
#chaty-widget-0 .chaty-tooltip.pos-top .on-hover-text::before { border-top-color: rgb(255, 255, 255); }
#chaty-widget-0 .chaty-tooltip.pos-left .on-hover-text::before { border-left-color: rgb(255, 255, 255); }
#chaty-widget-0 .chaty-tooltip.pos-right .on-hover-text::before { border-right-color: rgb(255, 255, 255); }
.chaty-outer-forms.chaty-form-0 .chaty-agent-body { max-height: calc(-220px + 100vh); overflow-y: auto; }
#chaty-form-0-chaty-chat-view .chaty-view-header { }
#chaty-form-0-chaty-chat-view .chaty-view-header { }
#chaty-form-0-chaty-chat-view .chaty-view-header svg { }
.chaty-outer-forms.chaty-contact-form-box.chaty-form-0 .chaty-contact-inputs { max-height: calc(-230px + 100vh); overflow-y: auto; }
#chaty-form-0-Whatsapp .chaty-whatsapp-body { overflow-y: auto; }
#chaty-widget-0, #chaty-widget-0 .chaty-tooltip::after { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }
